USE [master]
GO
/****** Object:  Database [Турагенство]    Script Date: 03.09.2025 17:09:18 ******/
CREATE DATABASE [Турагенство]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Турагенство', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Турагенство.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Турагенство_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Турагенство_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Турагенство].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Турагенство]
GO
/****** Object:  UserDefinedFunction [dbo].[Вывод_скидки]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Вывод_скидки](@Тур int)
RETURNS int
AS
BEGIN
	DECLARE @Клиент int, @Количество_туров int,  @Процент int

	SELECT @Клиент = ID_клиента
	FROM Продажи
	WHERE ID_тура = @Тур
	
	SET @Количество_туров = (SELECT COUNT(ID_тура) FROM Продажи 
							WHERE ID_клиента = @Клиент GROUP BY ID_клиента)
	IF(@Количество_туров >= 5)
	BEGIN
		SET @Процент = 15				
	END

	IF(@Количество_туров >= 10)
	BEGIN
		SET @Процент = 25		
	END

	IF(@Количество_туров < 5)
	BEGIN
		SET @Процент = 0		
	END
	RETURN @Процент
END
GO
/****** Object:  UserDefinedFunction [dbo].[Вычисление_скидки_тура]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Вычисление_скидки_тура](@Тур int)
RETURNS @Results TABLE
(
	Стоимсоть_без_скидки money,
	Скидка int,
	Стоимость_с_учетом_скидки money
)
AS
BEGIN
	DECLARE @Клиент int, @Количество_туров int, @Стоимость money, @Процент int

	SELECT @Клиент = ID_клиента
	FROM Продажи
	WHERE ID_тура = @Тур
	
	SET @Количество_туров = (SELECT COUNT(ID_тура) FROM Продажи 
							WHERE ID_клиента = @Клиент GROUP BY ID_клиента)
	SET @Стоимость = dbo.[Вычисление_стоимости_путевки](@Тур)

	IF(@Количество_туров >= 5)
	BEGIN
		SET @Процент = 15		
		INSERT @Results 
		SELECT @Стоимость, @Процент, (@Стоимость - (@Стоимость * (CONVERT(decimal, @Процент)/100)))
	END

	IF(@Количество_туров >= 10)
	BEGIN
		SET @Процент = 25
		INSERT @Results 
		SELECT @Стоимость, @Процент, (@Стоимость - (@Стоимость * (CONVERT(decimal, @Процент)/100)))
	END
	IF(@Количество_туров < 5)
	BEGIN
		SET @Процент = 0
		INSERT @Results 
		SELECT @Стоимость, @Процент, @Стоимость  
	END
	RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[Вычисление_стоимости_путевки]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Вычисление_стоимости_путевки](@Тур int)
RETURNS money
AS
BEGIN
	DECLARE @results money
	
	IF((SELECT ID_тура FROM Продажи WHERE ID_тура = @Тур) IN(SELECT ID_тура FROM Экскурсионные_услуги))
	BEGIN
		SELECT @Results = СТ.Стоимость_без_экскурсий + СЭ.Цена_экскурсий  
		FROM Продажи AS П, Стоимость_Тура_без_экскурсий AS СТ, Стоимость_экскурсий AS СЭ 
		WHERE П.ID_продажи = СТ.ID_продажи AND П.ID_клиента = СТ.ID_клиента
				AND П.ID_продажи = СЭ.ID_продажи AND П.ID_тура = @Тур			
	END
	ELSE
	BEGIN
		SELECT @Results = СТ.Стоимость_без_экскурсий 
		FROM Продажи AS П, Стоимость_Тура_без_экскурсий AS СТ
		WHERE П.ID_продажи = СТ.ID_продажи AND П.ID_тура = @Тур			
	END
	
	RETURN @Results
END
GO
/****** Object:  Table [dbo].[Рейсы_выезда]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рейсы_выезда](
	[ID_рейса_выезда] [int] NOT NULL,
	[ID_рейса] [int] NOT NULL,
 CONSTRAINT [PK_Рейсы_выезда] PRIMARY KEY CLUSTERED 
(
	[ID_рейса_выезда] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Рейсы]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рейсы](
	[ID_рейса] [int] IDENTITY(1,1) NOT NULL,
	[ID_транспорта] [int] NOT NULL,
	[ID_города_выезда] [int] NOT NULL,
	[ID_города_прибытия] [int] NOT NULL,
	[Дата_выезда] [date] NOT NULL,
	[Время_выезда] [time](7) NOT NULL,
	[Время_прибытия] [time](7) NOT NULL,
	[Стоимость] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Рейсы] PRIMARY KEY CLUSTERED 
(
	[ID_рейса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Транспорт]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Транспорт](
	[ID_транспорта] [int] IDENTITY(1,1) NOT NULL,
	[Вид_транспорта] [nvarchar](25) NOT NULL,
	[Количество_мест] [int] NOT NULL,
 CONSTRAINT [PK_Транспорт] PRIMARY KEY CLUSTERED 
(
	[ID_транспорта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Транспорт_выезда]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*UPDATE Транспорт
SET Вид_транспорта = 'Поезд дальнего следования'
WHERE ID_транспорта = 11
GO*/
CREATE VIEW [dbo].[Транспорт_выезда]
AS
SELECT РВыезд.ID_рейса_выезда, РВыезд.ID_рейса, Т.Вид_транспорта, Т.Количество_мест, Р.Дата_выезда, Р.Время_выезда, Р.Время_прибытия, Р.Стоимость
FROM     dbo.Рейсы_выезда AS РВыезд INNER JOIN
                  dbo.Рейсы AS Р ON РВыезд.ID_рейса = Р.ID_рейса INNER JOIN
                  dbo.Транспорт AS Т ON Р.ID_транспорта = Т.ID_транспорта
GO
/****** Object:  View [dbo].[Стоимость_Рейса_выезда]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Стоимость_Рейса_выезда]
AS
SELECT РВ.ID_рейса_выезда, Р.Стоимость
FROM Рейсы AS Р INNER JOIN
	Рейсы_выезда AS РВ ON РВ.ID_рейса = Р.ID_рейса
GO
/****** Object:  Table [dbo].[Рейсы_возврата]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рейсы_возврата](
	[ID_рейса_возврата] [int] NOT NULL,
	[ID_рейса] [int] NOT NULL,
 CONSTRAINT [PK_Рейсы_возврата] PRIMARY KEY CLUSTERED 
(
	[ID_рейса_возврата] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Стоимость_Рейса_возврата]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Стоимость_Рейса_возврата]
AS
SELECT РВ.ID_рейса_возврата, Р.Стоимость
FROM Рейсы AS Р INNER JOIN
	Рейсы_возврата AS РВ ON РВ.ID_рейса = Р.ID_рейса
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ID_клиента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](35) NOT NULL,
	[Имя] [nvarchar](35) NOT NULL,
	[Отчество] [nvarchar](35) NOT NULL,
	[Телефон] [nvarchar](16) NOT NULL,
	[Паспорт] [nvarchar](12) NULL,
	[Загранпаспорт] [nvarchar](12) NULL,
	[Виза] [varchar](15) NULL,
	[Дата_рождения] [date] NOT NULL,
	[Адрес] [nvarchar](100) NOT NULL,
	[Количество_купленных_туров] [smallint] NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[ID_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продажи]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продажи](
	[ID_продажи] [int] NOT NULL,
	[ID_клиента] [int] NOT NULL,
	[ID_тура] [int] NOT NULL,
	[Дата_продажи] [date] NOT NULL,
	[Стоимость] [smallmoney] NULL,
 CONSTRAINT [PK_Продажи] PRIMARY KEY CLUSTERED 
(
	[ID_продажи] ASC,
	[ID_клиента] ASC,
	[ID_тура] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Туры]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Туры](
	[ID_тура] [int] IDENTITY(1,1) NOT NULL,
	[Дата_начала] [date] NOT NULL,
	[Дата_окончания] [date] NOT NULL,
	[ID_размещения] [int] NOT NULL,
	[ID_рейса_выезда] [int] NULL,
	[ID_рейса_возврата] [int] NULL,
	[Состояние] [nvarchar](25) NULL,
 CONSTRAINT [PK_Туры] PRIMARY KEY CLUSTERED 
(
	[ID_тура] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Еще_не_купленные_туры]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Еще_не_купленные_туры](@Дата_начала date, @Дата_конца date)
RETURNS TABLE
AS
RETURN
(
	SELECT Т.ID_тура, Т.Дата_начала, Т.Дата_окончания, Т.Состояние, 
		К.Фамилия, К.Имя, К.Отчество, К.Телефон
	FROM Туры AS Т, Продажи AS П, Клиенты AS К
	WHERE К.ID_клиента = П.ID_клиента AND П.ID_тура = Т.ID_тура
		AND Т.Дата_начала BETWEEN @Дата_начала AND @Дата_конца
		AND Т.Состояние = 'Забронирован'
)	
GO
/****** Object:  Table [dbo].[Тип_размещения]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_размещения](
	[ID_размещения] [int] IDENTITY(1,1) NOT NULL,
	[ID_отеля] [int] NOT NULL,
	[Номер] [smallint] NOT NULL,
	[Цена] [smallmoney] NOT NULL,
	[Дата_заезда] [date] NOT NULL,
	[Дата_выезда] [date] NOT NULL,
	[ID_типа_питания] [int] NOT NULL,
 CONSTRAINT [PK_Тип_размещения] PRIMARY KEY CLUSTERED 
(
	[ID_размещения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип_питания]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_питания](
	[ID_типа_питания] [int] IDENTITY(1,1) NOT NULL,
	[Тип_питания] [nvarchar](35) NOT NULL,
	[Цена] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Тип_питания] PRIMARY KEY CLUSTERED 
(
	[ID_типа_питания] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Наименования_типов_питания] UNIQUE NONCLUSTERED 
(
	[Тип_питания] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Стоимость_Тура_без_экскурсий]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE VIEW [Стоимость_Рейса_выезда]
--AS
--SELECT РВ.ID_рейса_выезда, Р.Стоимость
--FROM Рейсы AS Р INNER JOIN
--	Рейсы_выезда AS РВ ON РВ.ID_рейса = Р.ID_рейса
--GO
--CREATE VIEW [Стоимость_Рейса_возврата]
--AS
--SELECT РВ.ID_рейса_возврата, Р.Стоимость
--FROM Рейсы AS Р INNER JOIN
--	Рейсы_возврата AS РВ ON РВ.ID_рейса = Р.ID_рейса
--GO

CREATE VIEW [dbo].[Стоимость_Тура_без_экскурсий]
AS
SELECT П.ID_продажи, П.ID_клиента,  П.ID_тура, (((ТП.Цена + ТР.Цена) * DATEDIFF(dd, ТР.Дата_заезда, ТР.Дата_выезда)) + СРВыезд.Стоимость + СРВозвр.Стоимость)
	AS Стоимость_без_экскурсий
FROM Продажи AS П INNER JOIN
	Туры AS Т ON П.ID_тура = Т.ID_тура INNER JOIN
	Стоимость_Рейса_выезда AS СРВыезд ON Т.ID_рейса_выезда = СРВыезд.ID_рейса_выезда INNER JOIN
	Стоимость_Рейса_возврата AS СРВозвр ON Т.ID_рейса_возврата = СРВозвр.ID_рейса_возврата INNER JOIN
	Тип_размещения AS ТР ON Т.ID_размещения = ТР.ID_размещения INNER JOIN
	Тип_питания AS ТП ON ТР.ID_типа_питания = ТП.ID_типа_питания 
GO
/****** Object:  Table [dbo].[Экскурсионные_услуги]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Экскурсионные_услуги](
	[ID_тура] [int] NOT NULL,
	[ID_экскурсии] [int] NOT NULL,
	[Дата_и_время_начала] [datetime] NOT NULL,
	[Цена] [smallmoney] NOT NULL,
	[Продолжительность(мин)] [smallint] NULL,
 CONSTRAINT [PK_Экскурсионные_услуги] PRIMARY KEY CLUSTERED 
(
	[ID_тура] ASC,
	[ID_экскурсии] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Дата_и_время_экскурсий] UNIQUE NONCLUSTERED 
(
	[Дата_и_время_начала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Стоимость_экскурсий]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Стоимость_экскурсий]
AS
SELECT П.ID_продажи, П.ID_клиента, П.ID_тура, SUM(ЭУ.Цена) AS 'Цена_экскурсий'
FROM Продажи AS П INNER JOIN
	Туры AS Т ON П.ID_тура = Т.ID_тура INNER JOIN
	Экскурсионные_услуги AS ЭУ ON Т.ID_тура = ЭУ.ID_тура	
GROUP BY П.ID_продажи, П.ID_клиента, П.ID_тура

--SELECT Т.ID_тура, БЭ.Стоимость_без_экскурсий + СЭ.Цена_экскурсий
--FROM Продажи AS П INNER JOIN
--	Туры AS Т ON П.ID_тура = Т.ID_тура LEFT JOIN
--	Стоимость_Тура_без_экскурсий AS БЭ ON П.ID_тура = БЭ.ID_тура LEFT JOIN
--	Стоимость_экскурсий AS СЭ ON П.ID_тура = СЭ.ID_тура
--WHERE Т.ID_тура IN (SELECT ID_тура FROM Экскурсионные_услуги)







--DECLARE @minP int, @maxP int
--SELECT @minP = MIN(ID_продажи) FROM Продажи 
--SELECT @maxP = MAX(ID_продажи) FROM Продажи 

--WHILE(@minP<=@maxP)
--BEGIN
--	DECLARE @minK int, @maxK int
--	SELECT @minK = MIN(ID_клиента) FROM Продажи GROUP BY ID_продажи
--	SELECT @maxK = MAX(ID_Клиента) FROM Продажи GROUP BY ID_продажи

--	WHILE(@minK<=@minK)
--	BEGIN

--		IF((SELECT ID_тура FROM Продажи WHERE ID_продажи = @minP AND ID_клиента = @minK) IN(SELECT ID_тура FROM Экскурсионные_услуги))
--		BEGIN
--			UPDATE Продажи
--			SET Стоимость = (SELECT   FROM   WHERE)
--		END

--		ELSE
--		BEGIN

--		END


		
--		WHERE 
--	END	
--END



--SELECT ((ТП.Цена + ТР.Цена) * DATEDIFF(dd, ТР.Дата_заезда, ТР.Дата_выезда)) + СРВыезд.Стоимость + СРВозвр.Стоимость										
--						FROM Продажи AS П LEFT JOIN
--							Туры AS Т ON П.ID_тура = Т.ID_тура LEFT JOIN
--							Стоимость_Рейса_выезда AS СРВыезд ON Т.ID_рейса_выезда = СРВыезд.ID_рейса_выезда LEFT JOIN
--							Стоимость_Рейса_возврата AS СРВозвр ON Т.ID_рейса_возврата = СРВозвр.ID_рейса_возврата LEFT JOIN
--							Тип_размещения AS ТР ON Т.ID_размещения = ТР.ID_размещения LEFT JOIN
--							Тип_питания AS ТП ON ТР.ID_типа_питания = ТП.ID_типа_питания LEFT JOIN
--							Экскурсионные_услуги AS ЭУ ON Т.ID_тура = ЭУ.ID_тура
--						WHERE П.ID_продажи = @i AND П.ID_клиента = @
						
  
	



GO
/****** Object:  Table [dbo].[Города_выезда]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города_выезда](
	[ID_города_выезда] [int] NOT NULL,
	[ID_города] [int] NOT NULL,
 CONSTRAINT [PK_Города_выезда] PRIMARY KEY CLUSTERED 
(
	[ID_города_выезда] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Города]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города](
	[ID_города] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](35) NOT NULL,
	[ID_страны] [int] NOT NULL,
 CONSTRAINT [PK_Города] PRIMARY KEY CLUSTERED 
(
	[ID_города] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Города_стран] UNIQUE NONCLUSTERED 
(
	[ID_страны] ASC,
	[Наименование] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Наименования_городов_выезда]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Наименования_городов_выезда]
AS
SELECT ГВ.ID_города_выезда, ГВ.ID_города, Г.Наименование
FROM Города_выезда AS ГВ INNER JOIN
	Города AS Г ON ГВ.ID_города = Г.ID_города
GO
/****** Object:  Table [dbo].[Города_прибытия]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города_прибытия](
	[ID_города_прибытия] [int] NOT NULL,
	[ID_города] [int] NOT NULL,
 CONSTRAINT [PK_Города_прибытия] PRIMARY KEY CLUSTERED 
(
	[ID_города_прибытия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Наименования_городов_приезда]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Наименования_городов_приезда]
AS
SELECT ГП.ID_города_прибытия, ГП.ID_города, Г.Наименование
FROM Города_прибытия AS ГП INNER JOIN
	Города AS Г ON ГП.ID_города = Г.ID_города
GO
/****** Object:  View [dbo].[Транспорт_возврата]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Транспорт_возврата]
AS
SELECT РВозвр.ID_рейса_возврата, РВозвр.ID_рейса, Т.Вид_транспорта, Т.Количество_мест, Р.Дата_выезда, Р.Время_выезда, Р.Время_прибытия, Р.Стоимость
FROM     dbo.Рейсы_возврата AS РВозвр INNER JOIN
                  dbo.Рейсы AS Р ON РВозвр.ID_рейса = Р.ID_рейса INNER JOIN
                  dbo.Транспорт AS Т ON Р.ID_транспорта = Т.ID_транспорта
GO
/****** Object:  Table [dbo].[Отели]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отели](
	[ID_отеля] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](35) NOT NULL,
	[Количество_звезд] [tinyint] NOT NULL,
	[ID_города] [int] NOT NULL,
 CONSTRAINT [PK_Отели] PRIMARY KEY CLUSTERED 
(
	[ID_отеля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Наименования_отелей] UNIQUE NONCLUSTERED 
(
	[Наименование] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[сисАудит]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[сисАудит](
	[ID_операции] [int] IDENTITY(1,1) NOT NULL,
	[Тип_операции] [nvarchar](50) NOT NULL,
	[Имя_таблицы_операции] [nvarchar](100) NOT NULL,
	[Код_поля_операции] [nvarchar](100) NOT NULL,
	[Дата_и_время] [datetime] NOT NULL,
	[Имя_пользователя] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_sysAudit] PRIMARY KEY CLUSTERED 
(
	[ID_операции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[ID_страны] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](35) NOT NULL,
	[Виза] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Страны] PRIMARY KEY CLUSTERED 
(
	[ID_страны] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Экскурсии]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Экскурсии](
	[ID_экскурсии] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](45) NOT NULL,
	[ID_города] [int] NOT NULL,
	[Краткое_описание] [nvarchar](max) NULL,
 CONSTRAINT [PK_Экскурсии] PRIMARY KEY CLUSTERED 
(
	[ID_экскурсии] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Наименования_экскурсий] UNIQUE NONCLUSTERED 
(
	[Наименование] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Продажи] ADD  CONSTRAINT [DF_Стоимость_всего_тура]  DEFAULT ((0)) FOR [Стоимость]
GO
ALTER TABLE [dbo].[сисАудит] ADD  CONSTRAINT [DF_Дата_и_время_операции]  DEFAULT (getdate()) FOR [Дата_и_время]
GO
ALTER TABLE [dbo].[сисАудит] ADD  CONSTRAINT [DF_имя_пользователя_операции]  DEFAULT (user_name()) FOR [Имя_пользователя]
GO
ALTER TABLE [dbo].[Туры] ADD  CONSTRAINT [DF_Состояние_тура]  DEFAULT ('Забронирован') FOR [Состояние]
GO
ALTER TABLE [dbo].[Города]  WITH CHECK ADD  CONSTRAINT [FK_Города_Страны] FOREIGN KEY([ID_страны])
REFERENCES [dbo].[Страны] ([ID_страны])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Города] CHECK CONSTRAINT [FK_Города_Страны]
GO
ALTER TABLE [dbo].[Города_выезда]  WITH CHECK ADD  CONSTRAINT [FK_Города_выезда_Города] FOREIGN KEY([ID_города])
REFERENCES [dbo].[Города] ([ID_города])
GO
ALTER TABLE [dbo].[Города_выезда] CHECK CONSTRAINT [FK_Города_выезда_Города]
GO
ALTER TABLE [dbo].[Города_прибытия]  WITH CHECK ADD  CONSTRAINT [FK_Города_прибытия_Города] FOREIGN KEY([ID_города])
REFERENCES [dbo].[Города] ([ID_города])
GO
ALTER TABLE [dbo].[Города_прибытия] CHECK CONSTRAINT [FK_Города_прибытия_Города]
GO
ALTER TABLE [dbo].[Отели]  WITH CHECK ADD  CONSTRAINT [FK_Отели_Города] FOREIGN KEY([ID_города])
REFERENCES [dbo].[Города] ([ID_города])
GO
ALTER TABLE [dbo].[Отели] CHECK CONSTRAINT [FK_Отели_Города]
GO
ALTER TABLE [dbo].[Продажи]  WITH CHECK ADD  CONSTRAINT [FK_Продажи_Клиенты] FOREIGN KEY([ID_клиента])
REFERENCES [dbo].[Клиенты] ([ID_клиента])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Продажи] CHECK CONSTRAINT [FK_Продажи_Клиенты]
GO
ALTER TABLE [dbo].[Продажи]  WITH CHECK ADD  CONSTRAINT [FK_Продажи_Туры] FOREIGN KEY([ID_тура])
REFERENCES [dbo].[Туры] ([ID_тура])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Продажи] CHECK CONSTRAINT [FK_Продажи_Туры]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_Города_выезда] FOREIGN KEY([ID_города_выезда])
REFERENCES [dbo].[Города_выезда] ([ID_города_выезда])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [FK_Рейсы_Города_выезда]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_Города_прибытия] FOREIGN KEY([ID_города_прибытия])
REFERENCES [dbo].[Города_прибытия] ([ID_города_прибытия])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [FK_Рейсы_Города_прибытия]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_Транспорт] FOREIGN KEY([ID_транспорта])
REFERENCES [dbo].[Транспорт] ([ID_транспорта])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [FK_Рейсы_Транспорт]
GO
ALTER TABLE [dbo].[Рейсы_возврата]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_возврата_Рейсы] FOREIGN KEY([ID_рейса])
REFERENCES [dbo].[Рейсы] ([ID_рейса])
GO
ALTER TABLE [dbo].[Рейсы_возврата] CHECK CONSTRAINT [FK_Рейсы_возврата_Рейсы]
GO
ALTER TABLE [dbo].[Рейсы_выезда]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_выезда_Рейсы] FOREIGN KEY([ID_рейса])
REFERENCES [dbo].[Рейсы] ([ID_рейса])
GO
ALTER TABLE [dbo].[Рейсы_выезда] CHECK CONSTRAINT [FK_Рейсы_выезда_Рейсы]
GO
ALTER TABLE [dbo].[Тип_размещения]  WITH CHECK ADD  CONSTRAINT [FK_Тип_размещения_Отели] FOREIGN KEY([ID_отеля])
REFERENCES [dbo].[Отели] ([ID_отеля])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Тип_размещения] CHECK CONSTRAINT [FK_Тип_размещения_Отели]
GO
ALTER TABLE [dbo].[Тип_размещения]  WITH CHECK ADD  CONSTRAINT [FK_Тип_размещения_Тип_питания] FOREIGN KEY([ID_типа_питания])
REFERENCES [dbo].[Тип_питания] ([ID_типа_питания])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Тип_размещения] CHECK CONSTRAINT [FK_Тип_размещения_Тип_питания]
GO
ALTER TABLE [dbo].[Туры]  WITH CHECK ADD  CONSTRAINT [FK_Туры_Рейсы_возврата] FOREIGN KEY([ID_рейса_возврата])
REFERENCES [dbo].[Рейсы_возврата] ([ID_рейса_возврата])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Туры] CHECK CONSTRAINT [FK_Туры_Рейсы_возврата]
GO
ALTER TABLE [dbo].[Туры]  WITH CHECK ADD  CONSTRAINT [FK_Туры_Рейсы_выезда] FOREIGN KEY([ID_рейса_выезда])
REFERENCES [dbo].[Рейсы_выезда] ([ID_рейса_выезда])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Туры] CHECK CONSTRAINT [FK_Туры_Рейсы_выезда]
GO
ALTER TABLE [dbo].[Туры]  WITH CHECK ADD  CONSTRAINT [FK_Туры_Тип_размещения] FOREIGN KEY([ID_размещения])
REFERENCES [dbo].[Тип_размещения] ([ID_размещения])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Туры] CHECK CONSTRAINT [FK_Туры_Тип_размещения]
GO
ALTER TABLE [dbo].[Экскурсии]  WITH CHECK ADD  CONSTRAINT [FK_Экскурсии_Города] FOREIGN KEY([ID_города])
REFERENCES [dbo].[Города] ([ID_города])
GO
ALTER TABLE [dbo].[Экскурсии] CHECK CONSTRAINT [FK_Экскурсии_Города]
GO
ALTER TABLE [dbo].[Экскурсионные_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Экскурсионные_услуги_Туры] FOREIGN KEY([ID_тура])
REFERENCES [dbo].[Туры] ([ID_тура])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Экскурсионные_услуги] CHECK CONSTRAINT [FK_Экскурсионные_услуги_Туры]
GO
ALTER TABLE [dbo].[Экскурсионные_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Экскурсионные_услуги_Экскурсии] FOREIGN KEY([ID_экскурсии])
REFERENCES [dbo].[Экскурсии] ([ID_экскурсии])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Экскурсионные_услуги] CHECK CONSTRAINT [FK_Экскурсионные_услуги_Экскурсии]
GO
ALTER TABLE [dbo].[Клиенты]  WITH CHECK ADD  CONSTRAINT [CK_Виза] CHECK  (([Виза]='Да' OR [Виза]='Нет'))
GO
ALTER TABLE [dbo].[Клиенты] CHECK CONSTRAINT [CK_Виза]
GO
ALTER TABLE [dbo].[Клиенты]  WITH CHECK ADD  CONSTRAINT [CK_Количество_купленных_туров] CHECK  (([Количество_купленных_туров]>(0)))
GO
ALTER TABLE [dbo].[Клиенты] CHECK CONSTRAINT [CK_Количество_купленных_туров]
GO
ALTER TABLE [dbo].[Клиенты]  WITH CHECK ADD  CONSTRAINT [CK_Форма_телефона] CHECK  (([Телефон] like '[8][-][0-9][0-9][0-9][-][0-9][0-9][0-9][-][0-9][0-9][-][0-9][0-9]' OR [Телефон] like '[+][7][-][0-9][0-9][0-9][-][0-9][0-9][0-9][-][0-9][0-9][-][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Клиенты] CHECK CONSTRAINT [CK_Форма_телефона]
GO
ALTER TABLE [dbo].[Отели]  WITH CHECK ADD  CONSTRAINT [CK_Количесво_звезд_отеля] CHECK  (([Количество_звезд]>(0)))
GO
ALTER TABLE [dbo].[Отели] CHECK CONSTRAINT [CK_Количесво_звезд_отеля]
GO
ALTER TABLE [dbo].[Продажи]  WITH CHECK ADD  CONSTRAINT [CK_Стоимость_продажи] CHECK  (([Стоимость]>=(0)))
GO
ALTER TABLE [dbo].[Продажи] CHECK CONSTRAINT [CK_Стоимость_продажи]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [CK_Город_выезда_рейса] CHECK  (([ID_города_выезда]<>[ID_города_прибытия]))
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [CK_Город_выезда_рейса]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [CK_Стоимость_рейса] CHECK  (([Стоимость]>(0)))
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [CK_Стоимость_рейса]
GO
ALTER TABLE [dbo].[Страны]  WITH CHECK ADD  CONSTRAINT [CK_Виза_страна] CHECK  (([Виза]='Нужна' OR [Виза]='Не нужна'))
GO
ALTER TABLE [dbo].[Страны] CHECK CONSTRAINT [CK_Виза_страна]
GO
ALTER TABLE [dbo].[Тип_питания]  WITH CHECK ADD  CONSTRAINT [CK_Цена_типа_питания] CHECK  (([Цена]>(0)))
GO
ALTER TABLE [dbo].[Тип_питания] CHECK CONSTRAINT [CK_Цена_типа_питания]
GO
ALTER TABLE [dbo].[Тип_размещения]  WITH CHECK ADD  CONSTRAINT [CK_Дата_заезда_в_номер] CHECK  (([Дата_заезда]<[Дата_выезда]))
GO
ALTER TABLE [dbo].[Тип_размещения] CHECK CONSTRAINT [CK_Дата_заезда_в_номер]
GO
ALTER TABLE [dbo].[Тип_размещения]  WITH CHECK ADD  CONSTRAINT [CK_Цена_за_номер] CHECK  (([Цена]>(0)))
GO
ALTER TABLE [dbo].[Тип_размещения] CHECK CONSTRAINT [CK_Цена_за_номер]
GO
ALTER TABLE [dbo].[Транспорт]  WITH CHECK ADD  CONSTRAINT [CK_Количество_мест_в_транспорте] CHECK  (([Количество_мест]>(0)))
GO
ALTER TABLE [dbo].[Транспорт] CHECK CONSTRAINT [CK_Количество_мест_в_транспорте]
GO
ALTER TABLE [dbo].[Туры]  WITH CHECK ADD  CONSTRAINT [CK_Дата_начала_тура] CHECK  (([Дата_начала]<[Дата_окончания]))
GO
ALTER TABLE [dbo].[Туры] CHECK CONSTRAINT [CK_Дата_начала_тура]
GO
ALTER TABLE [dbo].[Туры]  WITH CHECK ADD  CONSTRAINT [CK_Состояние_тура] CHECK  (([Состояние]='Забронирован' OR [Состояние]='Действует' OR [Состояние]='Закончился' OR [Состояние]='Отказ' OR [Состояние]='Куплен'))
GO
ALTER TABLE [dbo].[Туры] CHECK CONSTRAINT [CK_Состояние_тура]
GO
ALTER TABLE [dbo].[Экскурсионные_услуги]  WITH CHECK ADD  CONSTRAINT [CK_Цена_за_экскурсию] CHECK  (([Цена]>(0)))
GO
ALTER TABLE [dbo].[Экскурсионные_услуги] CHECK CONSTRAINT [CK_Цена_за_экскурсию]
GO
/****** Object:  StoredProcedure [dbo].[Ввод_данных_в_таблицу_Клиенты]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ввод_данных_в_таблицу_Клиенты](@Фамилия nvarchar(35), @Имя nvarchar(35), @Отчество nvarchar(35), 
		@Телефон nvarchar(16), @Паспорт nvarchar(12), @Загранпаспорт nvarchar(12), @Виза varchar(15), 
		@Дата_рождения date, @Адрес nvarchar(100))
AS
BEGIN
	INSERT INTO Клиенты(Фамилия, Имя, Отчество, Телефон, Паспорт, Загранпаспорт, Виза, Дата_рождения, Адрес)
	VALUES (@Фамилия, @Имя, @Отчество, @Телефон, @Паспорт, @Загранпаспорт, @Виза, @Дата_рождения, @Адрес)
END
GO
/****** Object:  StoredProcedure [dbo].[Вывод_информации_о_продажах]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Вывод_информации_о_продажах]
AS
BEGIN
	SELECT К.Фамилия, К.Имя, К.Отчество, К.Телефон, Т.ID_тура, 
			Т.Дата_начала, Т.Дата_окончания, Т.Состояние, П.Дата_продажи, П.Стоимость
	FROM Клиенты AS К INNER JOIN
		Продажи AS П ON К.ID_клиента = П.ID_клиента INNER JOIN
		Туры AS Т ON П.ID_тура = Т.ID_тура
END
GO
/****** Object:  StoredProcedure [dbo].[Вывод_списка_городов]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Вывод_списка_городов](@Страна nvarchar(35))
AS
BEGIN
	SELECT С.Наименование AS 'Страна', Г.ID_города, Г.Наименование AS 'Город'
	FROM Города AS Г, Страны AS С
	WHERE Г.ID_страны = С.ID_страны
		AND С.Наименование = @Страна
END
GO
/****** Object:  StoredProcedure [dbo].[Обновление_количества_поездок_клиента]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Обновление_количества_поездок_клиента]
AS
BEGIN
	DECLARE @minK int, @maxK int
	SELECT @minK = MIN(ID_клиента) FROM Клиенты
	SELECT @maxK = MAX(ID_клиента) FROM Клиенты
	WHILE(@minK <= @maxK)
	BEGIN
		UPDATE Клиенты
		SET Количество_купленных_туров = (SELECT COUNT(ID_тура) 
									FROM Продажи 
									WHERE ID_клиента = @minK
									GROUP BY ID_клиента)
		WHERE ID_клиента = @minK

		SET @minK = @minK + 1
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Отбор_клиентов_1]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Отбор_клиентов_1](@Фамилия nvarchar(35) = ' ', @Имя nvarchar(35) = ' ', 
		@Отчество nvarchar(35) = ' ', @Дата_рождения date = ' ', 
		@Телефон nvarchar(16) = ' ', @Количество_купленных_туров smallint = 0)
AS
BEGIN
	SELECT *
	FROM Клиенты
	WHERE Фамилия = @Фамилия OR Имя = @Имя OR Отчество = @Отчество 
			OR Дата_рождения = @Дата_рождения OR Телефон = @Телефон 
			OR Количество_купленных_туров = @Количество_купленных_туров
END
GO
/****** Object:  StoredProcedure [dbo].[Отбор_клиентов_2]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Отбор_клиентов_2](@Фамилия nvarchar(35) = ' ', @Имя nvarchar(35) = ' ', 
		@Отчество nvarchar(35) = ' ', @Дата_рождения date = ' ', 
		@Телефон nvarchar(16) = ' ', @Количество_купленных_туров smallint = 0)
AS
BEGIN
	DECLARE @Год_рождения nvarchar(5), @Дата_начала nvarchar(12), @Дата_конца nvarchar(12)
	SET @Год_рождения = YEAR(@Дата_рождения)
	SET @Дата_начала = '01-01-' + @Год_рождения
	SET @Дата_конца = '31-12-' + @Год_рождения

	SELECT *
	FROM Клиенты
	WHERE Фамилия = @Фамилия OR Имя = @Имя OR Отчество = @Отчество 
			OR Дата_рождения BETWEEN CONVERT(date, @Дата_начала) AND CONVERT(date, @Дата_конца)
			OR Телефон = @Телефон 
			OR Количество_купленных_туров = @Количество_купленных_туров
END
GO
/****** Object:  StoredProcedure [dbo].[Туры_за_определенный_период]    Script Date: 03.09.2025 17:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Туры_за_определенный_период](@Дата_начала date, @Дата_конца date)
AS
BEGIN
	SELECT Т.ID_тура, Т.Дата_начала, Т.Дата_окончания, Т.Состояние, 
		К.Фамилия, К.Имя, К.Отчество, К.Телефон
	FROM Туры AS Т, Продажи AS П, Клиенты AS К
	WHERE К.ID_клиента = П.ID_клиента AND П.ID_тура = Т.ID_тура
		AND Т.Дата_начала BETWEEN @Дата_начала AND @Дата_конца
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[31] 4[6] 2[45] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -600
         Left = 0
      End
      Begin Tables = 
         Begin Table = "РВозвр"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 126
               Right = 274
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Р"
            Begin Extent = 
               Top = 126
               Left = 48
               Bottom = 289
               Right = 289
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Т"
            Begin Extent = 
               Top = 294
               Left = 48
               Bottom = 435
               Right = 262
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Транспорт_возврата'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Транспорт_возврата'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[49] 4[3] 2[39] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "РВыезд"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 126
               Right = 261
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Р"
            Begin Extent = 
               Top = 126
               Left = 48
               Bottom = 289
               Right = 289
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Т"
            Begin Extent = 
               Top = 294
               Left = 48
               Bottom = 435
               Right = 262
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Транспорт_выезда'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Транспорт_выезда'
GO
USE [master]
GO
