USE [master]
GO
/****** Object:  Database [Cinema_Project_049_22]    Script Date: 03.09.2025 14:24:56 ******/
CREATE DATABASE [Cinema_Project_049_22]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema_Project_049_22', FILENAME = N'C:\SQL базы данных\Проект кинотеатра\Cinema_Project_049_22.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cinema_Project_049_22_log', FILENAME = N'C:\SQL базы данных\Проект кинотеатра\Cinema_Project_049_22_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema_Project_049_22].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema_Project_049_22]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[IdAccount] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[IdPerson] [int] NOT NULL,
	[IsActual] [bit] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHalls]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHalls](
	[IdHall] [int] IDENTITY(1,1) NOT NULL,
	[NumberHall] [int] NOT NULL,
	[CountSeats] [int] NOT NULL,
	[IdTypeHall] [int] NOT NULL,
	[SchemePlaces] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_CinemaHalls] PRIMARY KEY CLUSTERED 
(
	[IdHall] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompositionFilmCrew]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompositionFilmCrew](
	[IdPerson] [int] NOT NULL,
	[IdFilms] [int] NOT NULL,
	[RoleParticipantInFilm] [int] NOT NULL,
 CONSTRAINT [PK_CompositionFilmCrew] PRIMARY KEY CLUSTERED 
(
	[IdPerson] ASC,
	[IdFilms] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmGenres]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmGenres](
	[IdGenre] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_FilmGenres] PRIMARY KEY CLUSTERED 
(
	[IdGenre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[IdFilm] [int] IDENTITY(1,1) NOT NULL,
	[FilmName] [nvarchar](100) NOT NULL,
	[AgeLimit] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[Rating] [decimal](3, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActual] [bit] NOT NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[IdFilm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenresOfFilms]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenresOfFilms](
	[IdFilm] [int] NOT NULL,
	[IdGenre] [int] NOT NULL,
 CONSTRAINT [PK_GenresOfFilms] PRIMARY KEY CLUSTERED 
(
	[IdFilm] ASC,
	[IdGenre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[IdPerson] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[IsActor] [bit] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[IdPerson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonImage]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonImage](
	[IdImage] [int] IDENTITY(1,1) NOT NULL,
	[IdPerson] [int] NOT NULL,
	[PersonImage] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_PersonImage] PRIMARY KEY CLUSTERED 
(
	[IdImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceSchemes]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceSchemes](
	[IdPriceScheme] [int] IDENTITY(1,1) NOT NULL,
	[PriceSchemeName] [nvarchar](50) NULL,
	[IdHall] [int] NOT NULL,
	[SchemePrices] [varbinary](max) NOT NULL,
	[MinPrice] [money] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActual] [bit] NOT NULL,
 CONSTRAINT [PK_PriceSchemes] PRIMARY KEY CLUSTERED 
(
	[IdPriceScheme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesOfAccounts]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesOfAccounts](
	[IdUser] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_RolesOfAccounts] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC,
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesParticipantInFilm]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesParticipantInFilm](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_RolesParticipantInFilm] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScenesFromFilms]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScenesFromFilms](
	[IdScene] [int] IDENTITY(1,1) NOT NULL,
	[IdFilm] [int] NOT NULL,
	[SceneImage] [varbinary](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsPoster] [bit] NOT NULL,
	[IsVideo] [bit] NULL,
 CONSTRAINT [PK_ScenesFromFilms_1] PRIMARY KEY CLUSTERED 
(
	[IdScene] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[IdSession] [int] IDENTITY(1,1) NOT NULL,
	[IdFilm] [int] NOT NULL,
	[IdHall] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[IdPriceScheme] [int] NOT NULL,
	[EmploymentScheme] [varbinary](max) NULL,
	[CountAvailableSeats] [int] NOT NULL,
	[IdDisplayType] [int] NOT NULL,
	[IsActual] [bit] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[IdSession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[IdTicket] [int] IDENTITY(1,1) NOT NULL,
	[IdSession] [int] NOT NULL,
	[IdAccount] [int] NOT NULL,
	[NumberRow] [int] NOT NULL,
	[NumberPlace] [int] NOT NULL,
	[Cost] [money] NOT NULL,
	[DateTimeAcquisition] [datetime] NOT NULL,
	[TypeAcquisition] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[IdTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeDisplay]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeDisplay](
	[IdDisplayType] [int] IDENTITY(1,1) NOT NULL,
	[DisplayTypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeDisplay] PRIMARY KEY CLUSTERED 
(
	[IdDisplayType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeHall]    Script Date: 03.09.2025 14:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeHall](
	[IdTypeHall] [int] IDENTITY(1,1) NOT NULL,
	[TypeHallName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeHall] PRIMARY KEY CLUSTERED 
(
	[IdTypeHall] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Login_Accounts]    Script Date: 03.09.2025 14:24:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Login_Accounts] ON [dbo].[Accounts]
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_NumberHall_CinemaHalls]    Script Date: 03.09.2025 14:24:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_NumberHall_CinemaHalls] ON [dbo].[CinemaHalls]
(
	[NumberHall] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_GenreName_FilmGenres]    Script Date: 03.09.2025 14:24:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_GenreName_FilmGenres] ON [dbo].[FilmGenres]
(
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RoleName_Roles]    Script Date: 03.09.2025 14:24:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_RoleName_Roles] ON [dbo].[Roles]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RoleName_RolesParticipantInFilm]    Script Date: 03.09.2025 14:24:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_RoleName_RolesParticipantInFilm] ON [dbo].[RolesParticipantInFilm]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_TypePurchase]  DEFAULT (N'Бронирование') FOR [TypeAcquisition]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Person] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Person] ([IdPerson])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Person]
GO
ALTER TABLE [dbo].[CinemaHalls]  WITH CHECK ADD  CONSTRAINT [FK_CinemaHalls_TypeHall] FOREIGN KEY([IdTypeHall])
REFERENCES [dbo].[TypeHall] ([IdTypeHall])
GO
ALTER TABLE [dbo].[CinemaHalls] CHECK CONSTRAINT [FK_CinemaHalls_TypeHall]
GO
ALTER TABLE [dbo].[CompositionFilmCrew]  WITH CHECK ADD  CONSTRAINT [FK_CompositionFilmCrew_Films] FOREIGN KEY([IdFilms])
REFERENCES [dbo].[Films] ([IdFilm])
GO
ALTER TABLE [dbo].[CompositionFilmCrew] CHECK CONSTRAINT [FK_CompositionFilmCrew_Films]
GO
ALTER TABLE [dbo].[CompositionFilmCrew]  WITH CHECK ADD  CONSTRAINT [FK_CompositionFilmCrew_Person] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Person] ([IdPerson])
GO
ALTER TABLE [dbo].[CompositionFilmCrew] CHECK CONSTRAINT [FK_CompositionFilmCrew_Person]
GO
ALTER TABLE [dbo].[CompositionFilmCrew]  WITH CHECK ADD  CONSTRAINT [FK_CompositionFilmCrew_RolesParticipantInFilm] FOREIGN KEY([RoleParticipantInFilm])
REFERENCES [dbo].[RolesParticipantInFilm] ([IdRole])
GO
ALTER TABLE [dbo].[CompositionFilmCrew] CHECK CONSTRAINT [FK_CompositionFilmCrew_RolesParticipantInFilm]
GO
ALTER TABLE [dbo].[GenresOfFilms]  WITH CHECK ADD  CONSTRAINT [FK_GenresOfFilms_FilmGenres] FOREIGN KEY([IdGenre])
REFERENCES [dbo].[FilmGenres] ([IdGenre])
GO
ALTER TABLE [dbo].[GenresOfFilms] CHECK CONSTRAINT [FK_GenresOfFilms_FilmGenres]
GO
ALTER TABLE [dbo].[GenresOfFilms]  WITH CHECK ADD  CONSTRAINT [FK_GenresOfFilms_Films] FOREIGN KEY([IdFilm])
REFERENCES [dbo].[Films] ([IdFilm])
GO
ALTER TABLE [dbo].[GenresOfFilms] CHECK CONSTRAINT [FK_GenresOfFilms_Films]
GO
ALTER TABLE [dbo].[PersonImage]  WITH CHECK ADD  CONSTRAINT [FK_PersonImage_Person] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Person] ([IdPerson])
GO
ALTER TABLE [dbo].[PersonImage] CHECK CONSTRAINT [FK_PersonImage_Person]
GO
ALTER TABLE [dbo].[PriceSchemes]  WITH CHECK ADD  CONSTRAINT [FK_PriceSchemes_CinemaHalls1] FOREIGN KEY([IdHall])
REFERENCES [dbo].[CinemaHalls] ([IdHall])
GO
ALTER TABLE [dbo].[PriceSchemes] CHECK CONSTRAINT [FK_PriceSchemes_CinemaHalls1]
GO
ALTER TABLE [dbo].[RolesOfAccounts]  WITH CHECK ADD  CONSTRAINT [FK_RolesOfAccounts_Accounts] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Accounts] ([IdAccount])
GO
ALTER TABLE [dbo].[RolesOfAccounts] CHECK CONSTRAINT [FK_RolesOfAccounts_Accounts]
GO
ALTER TABLE [dbo].[RolesOfAccounts]  WITH CHECK ADD  CONSTRAINT [FK_RolesOfAccounts_Roles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
GO
ALTER TABLE [dbo].[RolesOfAccounts] CHECK CONSTRAINT [FK_RolesOfAccounts_Roles]
GO
ALTER TABLE [dbo].[ScenesFromFilms]  WITH CHECK ADD  CONSTRAINT [FK_ScenesFromFilms_Films] FOREIGN KEY([IdFilm])
REFERENCES [dbo].[Films] ([IdFilm])
GO
ALTER TABLE [dbo].[ScenesFromFilms] CHECK CONSTRAINT [FK_ScenesFromFilms_Films]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_CinemaHalls] FOREIGN KEY([IdHall])
REFERENCES [dbo].[CinemaHalls] ([IdHall])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_CinemaHalls]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Films] FOREIGN KEY([IdFilm])
REFERENCES [dbo].[Films] ([IdFilm])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Films]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_PriceSchemes] FOREIGN KEY([IdPriceScheme])
REFERENCES [dbo].[PriceSchemes] ([IdPriceScheme])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_PriceSchemes]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_TypeDisplay] FOREIGN KEY([IdDisplayType])
REFERENCES [dbo].[TypeDisplay] ([IdDisplayType])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_TypeDisplay]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Accounts] FOREIGN KEY([IdAccount])
REFERENCES [dbo].[Accounts] ([IdAccount])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Accounts]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Sessions] FOREIGN KEY([IdSession])
REFERENCES [dbo].[Sessions] ([IdSession])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Sessions]
GO
ALTER TABLE [dbo].[CinemaHalls]  WITH CHECK ADD  CONSTRAINT [CK_CountSeats_CinemaHalls] CHECK  (([CountSeats]>(0)))
GO
ALTER TABLE [dbo].[CinemaHalls] CHECK CONSTRAINT [CK_CountSeats_CinemaHalls]
GO
ALTER TABLE [dbo].[Films]  WITH CHECK ADD  CONSTRAINT [CK_Duration_Films] CHECK  (([Duration]>(0)))
GO
ALTER TABLE [dbo].[Films] CHECK CONSTRAINT [CK_Duration_Films]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [CK_CountSeats_Sessions] CHECK  (([CountAvailableSeats]>=(0)))
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [CK_CountSeats_Sessions]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CK_Cost_Tickets] CHECK  (([Cost]>(0)))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CK_Cost_Tickets]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CK_TypesAcquisition_Tickets] CHECK  (([TypeAcquisition]='Бронирование' OR [TypeAcquisition]='Покупка'))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CK_TypesAcquisition_Tickets]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'В минутах' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Films', @level2type=N'COLUMN',@level2name=N'Duration'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Бронирование или покупка' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tickets', @level2type=N'COLUMN',@level2name=N'TypeAcquisition'
GO
USE [master]
GO
