USE [master]
GO
/****** Object:  Database [Строительная организация]    Script Date: 03.09.2025 16:52:37 ******/
CREATE DATABASE [Строительная организация]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Строительная организация', FILENAME = N'C:\SQL базы данных\База данных строительной организации\Строительная организация.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Строительная организация_log', FILENAME = N'C:\SQL базы данных\База данных строительной организации\Строительная организация_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Строительная организация].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Строительная организация]
GO
/****** Object:  UserDefinedDataType [dbo].[CadastralNumber]    Script Date: 03.09.2025 16:52:37 ******/
CREATE TYPE [dbo].[CadastralNumber] FROM [nvarchar](30) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Currency]    Script Date: 03.09.2025 16:52:37 ******/
CREATE TYPE [dbo].[Currency] FROM [nvarchar](15) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Key]    Script Date: 03.09.2025 16:52:37 ******/
CREATE TYPE [dbo].[Key] FROM [int] NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Phone]    Script Date: 03.09.2025 16:52:37 ******/
CREATE TYPE [dbo].[Phone] FROM [nvarchar](16) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UnitsOfMeasurement]    Script Date: 03.09.2025 16:52:37 ******/
CREATE TYPE [dbo].[UnitsOfMeasurement] FROM [nvarchar](25) NOT NULL
GO
/****** Object:  Table [dbo].[Бригады]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Бригады](
	[№ бригады] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Вид бригады] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Бригады] PRIMARY KEY CLUSTERED 
(
	[№ бригады] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Графики работ]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Графики работ](
	[Код графика] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Порядковый номер работы] [int] NULL,
	[Проводимые работы] [nvarchar](100) NOT NULL,
	[Дата начала] [date] NOT NULL,
	[Дата окончания] [date] NOT NULL,
	[№ бригады] [dbo].[Key] NOT NULL,
	[Код объекта] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Графики работы] PRIMARY KEY CLUSTERED 
(
	[Код графика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Договоры]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договоры](
	[№ договора] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Дата] [date] NOT NULL,
	[Стоимость] [money] NOT NULL,
	[Валюта] [dbo].[Currency] NOT NULL,
	[Код объекта] [dbo].[Key] NOT NULL,
	[Вид услуг] [nvarchar](40) NULL,
	[ID заказчика] [dbo].[Key] NOT NULL,
	[Приложение] [nvarchar](max) NULL,
 CONSTRAINT [PK_Договоры] PRIMARY KEY CLUSTERED 
(
	[№ договора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказчики]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказчики](
	[ID заказчика] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Субъект отношений] [nvarchar](20) NULL,
 CONSTRAINT [PK_Заказчики] PRIMARY KEY CLUSTERED 
(
	[ID заказчика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Материалы сметы]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материалы сметы](
	[Код материала] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Наименование материала] [nvarchar](100) NOT NULL,
	[Дата закупки] [date] NULL,
	[Количество] [int] NOT NULL,
	[Единицы измерения] [dbo].[UnitsOfMeasurement] NOT NULL,
	[Цена] [money] NOT NULL,
	[Сумма]  AS ([Цена]*[Количество]),
	[Валюта] [dbo].[Currency] NOT NULL,
 CONSTRAINT [PK_Состав материалов сметы] PRIMARY KEY CLUSTERED 
(
	[Код материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Объекты]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Объекты](
	[Код объекта] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](60) NOT NULL,
	[Кадастровый номер] [dbo].[CadastralNumber] NOT NULL,
	[Площадь] [int] NULL,
	[Единицы измерения] [dbo].[UnitsOfMeasurement] NULL,
	[№ участка] [dbo].[Key] NOT NULL,
	[Краткая характеристика] [nvarchar](max) NULL,
 CONSTRAINT [PK_Объекты] PRIMARY KEY CLUSTERED 
(
	[Код объекта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Кадастровый_номер_объекта] UNIQUE NONCLUSTERED 
(
	[Кадастровый номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Работы сметы]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Работы сметы](
	[Код работы] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Наименование работы] [nvarchar](100) NOT NULL,
	[Единицы измерения] [dbo].[UnitsOfMeasurement] NULL,
	[Объем работы] [int] NULL,
	[Стоимость] [money] NOT NULL,
	[Валюта] [dbo].[Currency] NOT NULL,
 CONSTRAINT [PK_Состав работ сметы] PRIMARY KEY CLUSTERED 
(
	[Код работы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сметы]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сметы](
	[Код сметы] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Код графика] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Сметы] PRIMARY KEY CLUSTERED 
(
	[Код сметы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав используемой техники]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав используемой техники](
	[Код вида техники] [dbo].[Key] NOT NULL,
	[Код графика] [dbo].[Key] NOT NULL,
	[Количество используемой] [int] NOT NULL,
 CONSTRAINT [PK_Состав используемой техники] PRIMARY KEY CLUSTERED 
(
	[Код вида техники] ASC,
	[Код графика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав рабочих]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав рабочих](
	[ID человека] [dbo].[Key] NOT NULL,
	[№ бригады] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Состав рабочих] PRIMARY KEY CLUSTERED 
(
	[ID человека] ASC,
	[№ бригады] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав сметы]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав сметы](
	[Код сметы] [dbo].[Key] NOT NULL,
	[Код материала] [dbo].[Key] NOT NULL,
	[Код работы] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Состав сметы] PRIMARY KEY CLUSTERED 
(
	[Код сметы] ASC,
	[Код материала] ASC,
	[Код работы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[ID человека] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Категория] [nvarchar](50) NOT NULL,
	[Специализация] [nvarchar](50) NOT NULL,
	[Фамилия] [nvarchar](30) NOT NULL,
	[Имя] [nvarchar](30) NOT NULL,
	[Отчество] [nvarchar](30) NOT NULL,
	[Номер телефона] [dbo].[Phone] NOT NULL,
	[Адрес прописки] [nvarchar](max) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[ID человека] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Сотрудники_Номер телефона] UNIQUE NONCLUSTERED 
(
	[Номер телефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники управлений]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники управлений](
	[ID человека] [dbo].[Key] NOT NULL,
	[№ управления] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Сотрудники управлений] PRIMARY KEY CLUSTERED 
(
	[ID человека] ASC,
	[№ управления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники участков]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники участков](
	[ID человека] [dbo].[Key] NOT NULL,
	[№ участка] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Сотрудники участков] PRIMARY KEY CLUSTERED 
(
	[ID человека] ASC,
	[№ участка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Строительная техника]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Строительная техника](
	[Код вида техники] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Вид техники] [nvarchar](50) NOT NULL,
	[Количество] [int] NOT NULL,
	[Предназначение] [nvarchar](max) NULL,
 CONSTRAINT [PK_Строительная техника] PRIMARY KEY CLUSTERED 
(
	[Код вида техники] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Вид_Строительной техники] UNIQUE NONCLUSTERED 
(
	[Вид техники] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Строительные управления]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Строительные управления](
	[№ управления] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Город] [nvarchar](40) NOT NULL,
	[Индекс] [int] NOT NULL,
	[Адрес] [nvarchar](90) NOT NULL,
	[Номер телефона] [dbo].[Phone] NOT NULL,
 CONSTRAINT [PK_Строительные управления] PRIMARY KEY CLUSTERED 
(
	[№ управления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Строительные управления_Индекс] UNIQUE NONCLUSTERED 
(
	[Индекс] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Строительные управления_Номер телефона] UNIQUE NONCLUSTERED 
(
	[Номер телефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Участки]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Участки](
	[№ участка] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Кадастровый номер] [dbo].[CadastralNumber] NOT NULL,
	[№ управления] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Участки] PRIMARY KEY CLUSTERED 
(
	[№ участка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Кадастровый_номер_участка] UNIQUE NONCLUSTERED 
(
	[Кадастровый номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Фирмы заказчики]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Фирмы заказчики](
	[ID фирмы заказчика] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Наименование фирмы] [nvarchar](50) NOT NULL,
	[Фамилия представителя] [nvarchar](30) NOT NULL,
	[Имя представителя] [nvarchar](30) NOT NULL,
	[Отчество представителя] [nvarchar](30) NOT NULL,
	[Номер телефона представителя] [dbo].[Phone] NOT NULL,
	[Номер телефона фирмы] [dbo].[Phone] NOT NULL,
	[ID заказчика] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Фирмы заказчики] PRIMARY KEY CLUSTERED 
(
	[ID фирмы заказчика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Фирмы заказчики_Наименование] UNIQUE NONCLUSTERED 
(
	[Наименование фирмы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Фирмы заказчики_Номер телефона_Представителя] UNIQUE NONCLUSTERED 
(
	[Номер телефона представителя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Фирмы заказчики_Номер телефона_Фирм] UNIQUE NONCLUSTERED 
(
	[Номер телефона фирмы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Частники]    Script Date: 03.09.2025 16:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Частники](
	[ID частника] [dbo].[Key] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](30) NOT NULL,
	[Имя] [nvarchar](30) NOT NULL,
	[Отчество] [nvarchar](30) NOT NULL,
	[Номер телефона] [dbo].[Phone] NOT NULL,
	[ID заказчика] [dbo].[Key] NOT NULL,
 CONSTRAINT [PK_Частники] PRIMARY KEY CLUSTERED 
(
	[ID частника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_Частники_Номер телефона] UNIQUE NONCLUSTERED 
(
	[Номер телефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Договоры] ADD  CONSTRAINT [DF_Договоры_Дата]  DEFAULT (getdate()) FOR [Дата]
GO
ALTER TABLE [dbo].[Договоры] ADD  CONSTRAINT [DF_Договоры_Валюта]  DEFAULT (N'руб.') FOR [Валюта]
GO
ALTER TABLE [dbo].[Договоры] ADD  CONSTRAINT [DF_Договоры_Вид услуг]  DEFAULT (N'Строительные работы') FOR [Вид услуг]
GO
ALTER TABLE [dbo].[Заказчики] ADD  CONSTRAINT [DF_Заказчики_Субъект отношений]  DEFAULT (N'Юридическое лицо') FOR [Субъект отношений]
GO
ALTER TABLE [dbo].[Материалы сметы] ADD  CONSTRAINT [DF_Материалы сметы_Дата закупки]  DEFAULT (getdate()) FOR [Дата закупки]
GO
ALTER TABLE [dbo].[Материалы сметы] ADD  CONSTRAINT [DF_Материалы сметы_Единицы измерения]  DEFAULT (N'шт.') FOR [Единицы измерения]
GO
ALTER TABLE [dbo].[Материалы сметы] ADD  CONSTRAINT [DF_Материалы сметы_Валюта]  DEFAULT (N'руб.') FOR [Валюта]
GO
ALTER TABLE [dbo].[Объекты] ADD  CONSTRAINT [DF_Объекты_Единицы измерения]  DEFAULT (N'квадратов') FOR [Единицы измерения]
GO
ALTER TABLE [dbo].[Работы сметы] ADD  CONSTRAINT [DF_Работы сметы_Единицы измерения]  DEFAULT (N'м^2') FOR [Единицы измерения]
GO
ALTER TABLE [dbo].[Работы сметы] ADD  CONSTRAINT [DF_Работы сметы_Валюта]  DEFAULT (N'руб.') FOR [Валюта]
GO
ALTER TABLE [dbo].[Сотрудники] ADD  CONSTRAINT [DF_Сотрудники_Категория]  DEFAULT (N'Инженерно-техничекий персонал') FOR [Категория]
GO
ALTER TABLE [dbo].[Графики работ]  WITH CHECK ADD  CONSTRAINT [FK_Графики работ_Объекты] FOREIGN KEY([Код объекта])
REFERENCES [dbo].[Объекты] ([Код объекта])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Графики работ] CHECK CONSTRAINT [FK_Графики работ_Объекты]
GO
ALTER TABLE [dbo].[Графики работ]  WITH CHECK ADD  CONSTRAINT [FK_Графики работы_Бригады] FOREIGN KEY([№ бригады])
REFERENCES [dbo].[Бригады] ([№ бригады])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Графики работ] CHECK CONSTRAINT [FK_Графики работы_Бригады]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [FK_Договоры_Заказчики] FOREIGN KEY([ID заказчика])
REFERENCES [dbo].[Заказчики] ([ID заказчика])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [FK_Договоры_Заказчики]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [FK_Договоры_Объекты] FOREIGN KEY([Код объекта])
REFERENCES [dbo].[Объекты] ([Код объекта])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [FK_Договоры_Объекты]
GO
ALTER TABLE [dbo].[Объекты]  WITH CHECK ADD  CONSTRAINT [FK_Объекты_Участки] FOREIGN KEY([№ участка])
REFERENCES [dbo].[Участки] ([№ участка])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Объекты] CHECK CONSTRAINT [FK_Объекты_Участки]
GO
ALTER TABLE [dbo].[Сметы]  WITH CHECK ADD  CONSTRAINT [FK_Сметы_Этапы строительства] FOREIGN KEY([Код графика])
REFERENCES [dbo].[Графики работ] ([Код графика])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Сметы] CHECK CONSTRAINT [FK_Сметы_Этапы строительства]
GO
ALTER TABLE [dbo].[Состав используемой техники]  WITH CHECK ADD  CONSTRAINT [FK_Состав используемой техники_Строительная техника] FOREIGN KEY([Код вида техники])
REFERENCES [dbo].[Строительная техника] ([Код вида техники])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав используемой техники] CHECK CONSTRAINT [FK_Состав используемой техники_Строительная техника]
GO
ALTER TABLE [dbo].[Состав используемой техники]  WITH CHECK ADD  CONSTRAINT [FK_Состав используемой техники_Этапы строительства] FOREIGN KEY([Код графика])
REFERENCES [dbo].[Графики работ] ([Код графика])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав используемой техники] CHECK CONSTRAINT [FK_Состав используемой техники_Этапы строительства]
GO
ALTER TABLE [dbo].[Состав рабочих]  WITH CHECK ADD  CONSTRAINT [FK_Состав рабочих_Бригады] FOREIGN KEY([№ бригады])
REFERENCES [dbo].[Бригады] ([№ бригады])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав рабочих] CHECK CONSTRAINT [FK_Состав рабочих_Бригады]
GO
ALTER TABLE [dbo].[Состав рабочих]  WITH CHECK ADD  CONSTRAINT [FK_Состав рабочих_Сотрудники] FOREIGN KEY([ID человека])
REFERENCES [dbo].[Сотрудники] ([ID человека])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав рабочих] CHECK CONSTRAINT [FK_Состав рабочих_Сотрудники]
GO
ALTER TABLE [dbo].[Состав сметы]  WITH CHECK ADD  CONSTRAINT [FK_Состав сметы_Материалы сметы] FOREIGN KEY([Код материала])
REFERENCES [dbo].[Материалы сметы] ([Код материала])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав сметы] CHECK CONSTRAINT [FK_Состав сметы_Материалы сметы]
GO
ALTER TABLE [dbo].[Состав сметы]  WITH CHECK ADD  CONSTRAINT [FK_Состав сметы_Работы сметы] FOREIGN KEY([Код работы])
REFERENCES [dbo].[Работы сметы] ([Код работы])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав сметы] CHECK CONSTRAINT [FK_Состав сметы_Работы сметы]
GO
ALTER TABLE [dbo].[Состав сметы]  WITH CHECK ADD  CONSTRAINT [FK_Состав сметы_Сметы] FOREIGN KEY([Код сметы])
REFERENCES [dbo].[Сметы] ([Код сметы])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав сметы] CHECK CONSTRAINT [FK_Состав сметы_Сметы]
GO
ALTER TABLE [dbo].[Сотрудники управлений]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники управлений_Сотрудники] FOREIGN KEY([ID человека])
REFERENCES [dbo].[Сотрудники] ([ID человека])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Сотрудники управлений] CHECK CONSTRAINT [FK_Сотрудники управлений_Сотрудники]
GO
ALTER TABLE [dbo].[Сотрудники управлений]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники управлений_Строительные управления] FOREIGN KEY([№ управления])
REFERENCES [dbo].[Строительные управления] ([№ управления])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Сотрудники управлений] CHECK CONSTRAINT [FK_Сотрудники управлений_Строительные управления]
GO
ALTER TABLE [dbo].[Сотрудники участков]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники участков_Сотрудники] FOREIGN KEY([ID человека])
REFERENCES [dbo].[Сотрудники] ([ID человека])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Сотрудники участков] CHECK CONSTRAINT [FK_Сотрудники участков_Сотрудники]
GO
ALTER TABLE [dbo].[Сотрудники участков]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники участков_Участки] FOREIGN KEY([№ участка])
REFERENCES [dbo].[Участки] ([№ участка])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Сотрудники участков] CHECK CONSTRAINT [FK_Сотрудники участков_Участки]
GO
ALTER TABLE [dbo].[Участки]  WITH CHECK ADD  CONSTRAINT [FK_Участки_Строительные управления] FOREIGN KEY([№ управления])
REFERENCES [dbo].[Строительные управления] ([№ управления])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Участки] CHECK CONSTRAINT [FK_Участки_Строительные управления]
GO
ALTER TABLE [dbo].[Фирмы заказчики]  WITH CHECK ADD  CONSTRAINT [FK_Фирмы заказчики_Заказчики] FOREIGN KEY([ID заказчика])
REFERENCES [dbo].[Заказчики] ([ID заказчика])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Фирмы заказчики] CHECK CONSTRAINT [FK_Фирмы заказчики_Заказчики]
GO
ALTER TABLE [dbo].[Частники]  WITH CHECK ADD  CONSTRAINT [FK_Частники_Заказчики] FOREIGN KEY([ID заказчика])
REFERENCES [dbo].[Заказчики] ([ID заказчика])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Частники] CHECK CONSTRAINT [FK_Частники_Заказчики]
GO
ALTER TABLE [dbo].[Графики работ]  WITH CHECK ADD  CONSTRAINT [CK_Порядковый_номер_работы] CHECK  (([Порядковый номер работы]>(0)))
GO
ALTER TABLE [dbo].[Графики работ] CHECK CONSTRAINT [CK_Порядковый_номер_работы]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [CK_Стоимость] CHECK  (([Стоимость]>(0)))
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [CK_Стоимость]
GO
ALTER TABLE [dbo].[Материалы сметы]  WITH CHECK ADD  CONSTRAINT [CK_Количество] CHECK  (([Количество]>(0)))
GO
ALTER TABLE [dbo].[Материалы сметы] CHECK CONSTRAINT [CK_Количество]
GO
ALTER TABLE [dbo].[Материалы сметы]  WITH CHECK ADD  CONSTRAINT [CK_Цена] CHECK  (([Цена]>(0)))
GO
ALTER TABLE [dbo].[Материалы сметы] CHECK CONSTRAINT [CK_Цена]
GO
ALTER TABLE [dbo].[Объекты]  WITH CHECK ADD  CONSTRAINT [CK_Площадь] CHECK  (([Площадь]>(0)))
GO
ALTER TABLE [dbo].[Объекты] CHECK CONSTRAINT [CK_Площадь]
GO
ALTER TABLE [dbo].[Работы сметы]  WITH CHECK ADD  CONSTRAINT [CK_Объем_работы] CHECK  (([Объем работы]>(0)))
GO
ALTER TABLE [dbo].[Работы сметы] CHECK CONSTRAINT [CK_Объем_работы]
GO
ALTER TABLE [dbo].[Работы сметы]  WITH CHECK ADD  CONSTRAINT [CK_Стоимость_работы] CHECK  (([Стоимость]>(0)))
GO
ALTER TABLE [dbo].[Работы сметы] CHECK CONSTRAINT [CK_Стоимость_работы]
GO
ALTER TABLE [dbo].[Состав используемой техники]  WITH CHECK ADD  CONSTRAINT [CK_Количество используемой техники] CHECK  (([Количество используемой]>(0)))
GO
ALTER TABLE [dbo].[Состав используемой техники] CHECK CONSTRAINT [CK_Количество используемой техники]
GO
ALTER TABLE [dbo].[Строительная техника]  WITH CHECK ADD  CONSTRAINT [CK_Количество строительной техники] CHECK  (([Количество]>=(0)))
GO
ALTER TABLE [dbo].[Строительная техника] CHECK CONSTRAINT [CK_Количество строительной техники]
GO
ALTER TABLE [dbo].[Строительные управления]  WITH CHECK ADD  CONSTRAINT [CK_Индекс] CHECK  (([Индекс] like '[0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Строительные управления] CHECK CONSTRAINT [CK_Индекс]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер бригады' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Бригады', @level2type=N'COLUMN',@level2name=N'№ бригады'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Род деятельности, которым занимается бригада' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Бригады', @level2type=N'COLUMN',@level2name=N'Вид бригады'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер графика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Графики работ', @level2type=N'COLUMN',@level2name=N'Код графика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Порядковый номер, обозначающий, когда выполняется конкретная работа' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Графики работ', @level2type=N'COLUMN',@level2name=N'Порядковый номер работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Наименование вида работы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Графики работ', @level2type=N'COLUMN',@level2name=N'Проводимые работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Начало производимых работ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Графики работ', @level2type=N'COLUMN',@level2name=N'Дата начала'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Предположительное окончание производимых работ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Графики работ', @level2type=N'COLUMN',@level2name=N'Дата окончания'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'№ бригады, занимающийся данным видом работ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Графики работ', @level2type=N'COLUMN',@level2name=N'№ бригады'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ссылка на код объекта, для которого создается график' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Графики работ', @level2type=N'COLUMN',@level2name=N'Код объекта'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод только положительного порядкового номера ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Графики работ', @level2type=N'CONSTRAINT',@level2name=N'CK_Порядковый_номер_работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер договора' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'COLUMN',@level2name=N'№ договора'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата подписания договора' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'COLUMN',@level2name=N'Дата'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Стоимость услуг' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'COLUMN',@level2name=N'Стоимость'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Валюта расчета' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'COLUMN',@level2name=N'Валюта'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Конкретный объект, с которым связаны работы по договору' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'COLUMN',@level2name=N'Код объекта'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Строительные или ремонтные работы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'COLUMN',@level2name=N'Вид услуг'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Заказчик' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'COLUMN',@level2name=N'ID заказчика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Необязательное дополнение к договору' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'COLUMN',@level2name=N'Приложение'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод только положительной стоимости договора' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Договоры', @level2type=N'CONSTRAINT',@level2name=N'CK_Стоимость'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентифкационный номер заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Заказчики', @level2type=N'COLUMN',@level2name=N'ID заказчика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Юридичекое или физическое лицо' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Заказчики', @level2type=N'COLUMN',@level2name=N'Субъект отношений'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер материала' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'COLUMN',@level2name=N'Код материала'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Наименование используемого материала ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'COLUMN',@level2name=N'Наименование материала'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата закупки конкретного материала' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'COLUMN',@level2name=N'Дата закупки'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Количество данного материала ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'COLUMN',@level2name=N'Количество'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Единицы измерения соответствующего материала' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'COLUMN',@level2name=N'Единицы измерения'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Цена за единицу материала' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'COLUMN',@level2name=N'Цена'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Сумма стоимости материала при данном количестве' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'COLUMN',@level2name=N'Сумма'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Единицы измерения стоимости' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'COLUMN',@level2name=N'Валюта'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод только положительного кол-ва материала сметы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'CONSTRAINT',@level2name=N'CK_Количество'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод только положительных цен на материалы сметы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Материалы сметы', @level2type=N'CONSTRAINT',@level2name=N'CK_Цена'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер объекта' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'COLUMN',@level2name=N'Код объекта'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Вид объекта' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'COLUMN',@level2name=N'Наименование'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Занимаемая объектом площадь' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'COLUMN',@level2name=N'Кадастровый номер'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Занимаемая объектом площадь' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'COLUMN',@level2name=N'Площадь'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Единицы измерения площади объекта' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'COLUMN',@level2name=N'Единицы измерения'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'№ участка, на котором располагается данный объект' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'COLUMN',@level2name=N'№ участка'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дополнительная информация об объекте' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'COLUMN',@level2name=N'Краткая характеристика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности кадастрового номера объекта' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'CONSTRAINT',@level2name=N'CK_Кадастровый_номер_объекта'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод площади объекта исключительно > 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Объекты', @level2type=N'CONSTRAINT',@level2name=N'CK_Площадь'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер работы в смете' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Работы сметы', @level2type=N'COLUMN',@level2name=N'Код работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Работы, входящие в состав Видов работ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Работы сметы', @level2type=N'COLUMN',@level2name=N'Наименование работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Единицы измерения объема работы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Работы сметы', @level2type=N'COLUMN',@level2name=N'Единицы измерения'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Объем работы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Работы сметы', @level2type=N'COLUMN',@level2name=N'Объем работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Стоимость работы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Работы сметы', @level2type=N'COLUMN',@level2name=N'Стоимость'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод только положительных значений объема работы сметы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Работы сметы', @level2type=N'CONSTRAINT',@level2name=N'CK_Объем_работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод только положительной стоимости за работу сметы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Работы сметы', @level2type=N'CONSTRAINT',@level2name=N'CK_Стоимость_работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер сметы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сметы', @level2type=N'COLUMN',@level2name=N'Код сметы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Код графика, в котором используется данная смета' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сметы', @level2type=N'COLUMN',@level2name=N'Код графика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ссылка на код вида техники...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав используемой техники', @level2type=N'COLUMN',@level2name=N'Код вида техники'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'...которая используется в данном графике' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав используемой техники', @level2type=N'COLUMN',@level2name=N'Код графика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Количество используемой строительной техники конкретного вида' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав используемой техники', @level2type=N'COLUMN',@level2name=N'Количество используемой'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод количества используемой техники не меньше 0 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав используемой техники', @level2type=N'CONSTRAINT',@level2name=N'CK_Количество используемой техники'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ссылка на ID человека...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав рабочих', @level2type=N'COLUMN',@level2name=N'ID человека'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'...работающего в данной бригаде' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав рабочих', @level2type=N'COLUMN',@level2name=N'№ бригады'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ссылка на код сметы...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав сметы', @level2type=N'COLUMN',@level2name=N'Код сметы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'...в которой используется данный набор материалов' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав сметы', @level2type=N'COLUMN',@level2name=N'Код материала'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'...в которой используется данный набор работ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Состав сметы', @level2type=N'COLUMN',@level2name=N'Код работы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер человека' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'COLUMN',@level2name=N'ID человека'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Группировка специализации (инженерно-технический персонал или рабочий)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'COLUMN',@level2name=N'Категория'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Конкретная специальность работы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'COLUMN',@level2name=N'Специализация'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Фамилия сотрудника' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'COLUMN',@level2name=N'Фамилия'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Имя сотрудника' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'COLUMN',@level2name=N'Имя'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Отчество сотрудника' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'COLUMN',@level2name=N'Отчество'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Телефонный номер сотрудника' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'COLUMN',@level2name=N'Номер телефона'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Место проживания' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'COLUMN',@level2name=N'Адрес прописки'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности номеров сотрудников' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники', @level2type=N'CONSTRAINT',@level2name=N'CK_Сотрудники_Номер телефона'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ссылка на ID человека...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники управлений', @level2type=N'COLUMN',@level2name=N'ID человека'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'...работающего в данном управлении' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники управлений', @level2type=N'COLUMN',@level2name=N'№ управления'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ссылка на ID человека...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники участков', @level2type=N'COLUMN',@level2name=N'ID человека'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'...работающего на данном участке' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Сотрудники участков', @level2type=N'COLUMN',@level2name=N'№ участка'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентифкационный номер вида строительной техники' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительная техника', @level2type=N'COLUMN',@level2name=N'Код вида техники'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Наименование вида строительной техники' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительная техника', @level2type=N'COLUMN',@level2name=N'Вид техники'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Количество строительной техники конкретного вида всего на складе' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительная техника', @level2type=N'COLUMN',@level2name=N'Количество'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Краткое описание предназначения строительной техники' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительная техника', @level2type=N'COLUMN',@level2name=N'Предназначение'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности видов строительной техники' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительная техника', @level2type=N'CONSTRAINT',@level2name=N'CK_Вид_Строительной техники'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ввод количества техники на складе не меньше 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительная техника', @level2type=N'CONSTRAINT',@level2name=N'CK_Количество строительной техники'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер управления' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительные управления', @level2type=N'COLUMN',@level2name=N'№ управления'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Наименование города, в котором располагается данное управление' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительные управления', @level2type=N'COLUMN',@level2name=N'Город'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Точное место офиса управления' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительные управления', @level2type=N'COLUMN',@level2name=N'Индекс'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Точное место офиса управления' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительные управления', @level2type=N'COLUMN',@level2name=N'Адрес'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Номер телефона офиса данного управления' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительные управления', @level2type=N'COLUMN',@level2name=N'Номер телефона'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности почтовых индексов офисов строительных управлений' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительные управления', @level2type=N'CONSTRAINT',@level2name=N'CK_Строительные управления_Индекс'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности номеров телефона офисов строительных управлений' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительные управления', @level2type=N'CONSTRAINT',@level2name=N'CK_Строительные управления_Номер телефона'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Проверка количества цифр в индексе' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Строительные управления', @level2type=N'CONSTRAINT',@level2name=N'CK_Индекс'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентфикационный номер участка' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Участки', @level2type=N'COLUMN',@level2name=N'№ участка'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный адрес участка' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Участки', @level2type=N'COLUMN',@level2name=N'Кадастровый номер'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ссылка на управление, под управлением которого находится данный участкок' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Участки', @level2type=N'COLUMN',@level2name=N'№ управления'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности кадастрового номера участка' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Участки', @level2type=N'CONSTRAINT',@level2name=N'CK_Кадастровый_номер_участка'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер юридического лица заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'COLUMN',@level2name=N'ID фирмы заказчика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Наименование фирмы-заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'COLUMN',@level2name=N'Наименование фирмы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Фамилия представителя фирмы заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'COLUMN',@level2name=N'Фамилия представителя'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Имя представителя фирмы заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'COLUMN',@level2name=N'Имя представителя'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Отчество представителя фирмы заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'COLUMN',@level2name=N'Отчество представителя'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Номер телефона представителя фирмы заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'COLUMN',@level2name=N'Номер телефона представителя'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Номер телефона офиса данной фирмы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'COLUMN',@level2name=N'Номер телефона фирмы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID, под которым записан данный субъект отношений' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'COLUMN',@level2name=N'ID заказчика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ссылка на уникальный идентификатор заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'CONSTRAINT',@level2name=N'PK_Фирмы заказчики'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности наименований фирм' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'CONSTRAINT',@level2name=N'CK_Фирмы заказчики_Наименование'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности номеров телефона представителей от фирм заказчиков' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'CONSTRAINT',@level2name=N'CK_Фирмы заказчики_Номер телефона_Представителя'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности номеров телефона офисов фрм заказчиков' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Фирмы заказчики', @level2type=N'CONSTRAINT',@level2name=N'CK_Фирмы заказчики_Номер телефона_Фирм'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Уникальный идентификационный номер физического лица заказчика' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Частники', @level2type=N'COLUMN',@level2name=N'ID частника'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Фамилия физичекого лица' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Частники', @level2type=N'COLUMN',@level2name=N'Фамилия'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Имя физичекого лица' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Частники', @level2type=N'COLUMN',@level2name=N'Имя'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Отчество физичекого лица' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Частники', @level2type=N'COLUMN',@level2name=N'Отчество'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Номер телефона физического лица' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Частники', @level2type=N'COLUMN',@level2name=N'Номер телефона'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID, под которым записан данный субъект отношений' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Частники', @level2type=N'COLUMN',@level2name=N'ID заказчика'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение уникальности телефонных номеров частников' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Частники', @level2type=N'CONSTRAINT',@level2name=N'CK_Частники_Номер телефона'
GO
USE [master]
GO
