USE [master]
GO
/****** Object:  Database [VehicleManagement]    Script Date: 03.09.2025 14:35:13 ******/
CREATE DATABASE [VehicleManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VehicleManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VehicleManagement_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleManagement]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[IdAccount] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](120) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[IdPerson] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdditionalActionsForRequest]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalActionsForRequest](
	[IdRequest] [int] NOT NULL,
	[IdMaintenanceAction] [int] NOT NULL,
	[ActionAdding] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdditionalActionsForRequest] PRIMARY KEY CLUSTERED 
(
	[IdRequest] ASC,
	[IdMaintenanceAction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdditionalComponentsReplacement]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalComponentsReplacement](
	[IdComponentReplacement] [int] IDENTITY(1,1) NOT NULL,
	[IdSparePart] [int] NOT NULL,
	[IdVehicle] [int] NOT NULL,
	[Quantity] [int] NULL,
	[ReplacementDate] [datetime] NOT NULL,
	[WarrantyExpiration] [int] NULL,
	[UnitIntervalTime] [nvarchar](50) NULL,
	[ReplacementReason] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_AdditionalComponentsReplacement] PRIMARY KEY CLUSTERED 
(
	[IdComponentReplacement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[IdAddress] [int] IDENTITY(1,1) NOT NULL,
	[PostalCode] [int] NOT NULL,
	[IdRegion] [int] NULL,
	[Town] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[Building] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[IdAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachedProblemReports]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachedProblemReports](
	[IdProblemReport] [int] NOT NULL,
	[IdRequest] [int] NOT NULL,
 CONSTRAINT [PK_AttachedProblemReports] PRIMARY KEY CLUSTERED 
(
	[IdProblemReport] ASC,
	[IdRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[IdBuilding] [int] IDENTITY(1,1) NOT NULL,
	[BuildingType] [nvarchar](30) NOT NULL,
	[BuildingName] [nvarchar](50) NULL,
	[IdAddress] [int] NOT NULL,
	[Phone] [nvarchar](25) NULL,
	[Email] [nvarchar](70) NULL,
	[WorkSchedule] [varbinary](max) NULL,
	[IsExternalOrganization] [bit] NOT NULL,
	[ServicesAvailable] [nvarchar](max) NULL,
	[IdCounterparty] [int] NULL,
 CONSTRAINT [PK_Buildings] PRIMARY KEY CLUSTERED 
(
	[IdBuilding] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CounterpartiesContracts]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CounterpartiesContracts](
	[IdContract] [int] IDENTITY(1,1) NOT NULL,
	[IdCounterparty] [int] NOT NULL,
	[DigitalContract] [varbinary](max) NULL,
	[ContractNumber] [int] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Terms] [nvarchar](max) NULL,
	[AccountNumber] [nvarchar](25) NULL,
 CONSTRAINT [PK_ServiceContracts] PRIMARY KEY CLUSTERED 
(
	[IdContract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CounterpartyCompanies]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CounterpartyCompanies](
	[IdCounterparty] [int] IDENTITY(1,1) NOT NULL,
	[CounterpartyName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TaxpayerIdentificationNumber] [nvarchar](15) NULL,
	[PrimaryStateRegistrationNumber] [nvarchar](15) NULL,
	[CounterpartyDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExternalServiceProviders] PRIMARY KEY CLUSTERED 
(
	[IdCounterparty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryCode] [nvarchar](5) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[IdDriver] [int] IDENTITY(1,1) NOT NULL,
	[IdPerson] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[ExperienceStartDate] [date] NOT NULL,
	[LicenseNumber] [nvarchar](15) NOT NULL,
	[LicenseCategory] [nvarchar](20) NOT NULL,
	[LicenseIssueDate] [date] NOT NULL,
	[LicenseExpirationDate] [date] NOT NULL,
	[IssuingAuthority] [nvarchar](max) NULL,
	[MedicalCheckDate] [date] NOT NULL,
	[MedicalCheckExpiration] [date] NOT NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[IdDriver] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelTransactions]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTransactions](
	[IdFuelTransaction] [int] IDENTITY(1,1) NOT NULL,
	[IdVehicle] [int] NOT NULL,
	[RefuelingDate] [datetime] NOT NULL,
	[FuelQuantity] [int] NOT NULL,
	[FuelCost] [money] NOT NULL,
	[MileageReading] [int] NOT NULL,
 CONSTRAINT [PK_FuelTransactions] PRIMARY KEY CLUSTERED 
(
	[IdFuelTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupsForVehicles]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupsForVehicles](
	[IdVehicle] [int] NOT NULL,
	[IdVehicleGroup] [int] NOT NULL,
 CONSTRAINT [PK_Groups ForVehicles] PRIMARY KEY CLUSTERED 
(
	[IdVehicle] ASC,
	[IdVehicleGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceActions]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceActions](
	[IdMaintenanceAction] [int] IDENTITY(1,1) NOT NULL,
	[ActionName] [nvarchar](150) NOT NULL,
	[MaintenanceType] [nvarchar](30) NULL,
	[ActionDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_MaintenanceActions_1] PRIMARY KEY CLUSTERED 
(
	[IdMaintenanceAction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceActionsOfSchedules]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceActionsOfSchedules](
	[IdMaintenanceSchedule] [int] NOT NULL,
	[IdMaintenanceAction] [int] NOT NULL,
	[ActionAdding] [nvarchar](max) NULL,
 CONSTRAINT [PK_MaintenanceActionsOfSchedules] PRIMARY KEY CLUSTERED 
(
	[IdMaintenanceSchedule] ASC,
	[IdMaintenanceAction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRequests]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequests](
	[IdRequest] [int] IDENTITY(1,1) NOT NULL,
	[NumberRequest] [nvarchar](20) NULL,
	[IdVehicle] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[RequestDate] [datetime] NOT NULL,
	[IdMaintenanceSchedule] [int] NULL,
	[MaintenanceType] [nvarchar](30) NULL,
	[ProblemDescription] [nvarchar](max) NULL,
	[Priority] [nvarchar](25) NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
	[IdBuilding] [int] NULL,
 CONSTRAINT [PK_MaintenanceRequest] PRIMARY KEY CLUSTERED 
(
	[IdRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceSchedules]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceSchedules](
	[IdMaintenanceSchedule] [int] IDENTITY(1,1) NOT NULL,
	[NumberSchedule] [nvarchar](20) NULL,
	[IdVehicle] [int] NOT NULL,
	[MaintenanceDate] [date] NULL,
	[MaintenanceMileage] [int] NULL,
	[IsPeriodic] [bit] NOT NULL,
	[IntervalKm] [int] NULL,
	[IntervalTime] [int] NULL,
	[UnitIntervalTime] [nvarchar](10) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsAutomaticRequest] [bit] NOT NULL,
	[ExecutionsNumber] [int] NULL,
 CONSTRAINT [PK_MaintenanceSchedule] PRIMARY KEY CLUSTERED 
(
	[IdMaintenanceSchedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartsUsedInTasks]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartsUsedInTasks](
	[IdPerformedTask] [int] NOT NULL,
	[IdUsedPartInWorkOrder] [int] NOT NULL,
	[QuantityUsed] [int] NOT NULL,
 CONSTRAINT [PK_PartsUsedInTasks] PRIMARY KEY CLUSTERED 
(
	[IdPerformedTask] ASC,
	[IdUsedPartInWorkOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartsUsedInWorkOrders]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartsUsedInWorkOrders](
	[IdUsedPartInWorkOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdWorkOrder] [int] NOT NULL,
	[IdSparePart] [int] NOT NULL,
	[QuantityUsed] [int] NOT NULL,
	[TotalCost] [money] NULL,
 CONSTRAINT [PK_UsedSpareParts] PRIMARY KEY CLUSTERED 
(
	[IdUsedPartInWorkOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformedTasks]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformedTasks](
	[IdPerformedTask] [int] IDENTITY(1,1) NOT NULL,
	[IdWorkOrder] [int] NOT NULL,
	[IdMaintenanceAction] [int] NULL,
	[TaskNumber] [int] NOT NULL,
	[CompletedTaskDescription] [nvarchar](max) NULL,
	[IssuesDetected] [nvarchar](max) NULL,
	[Recommendations] [nvarchar](max) NULL,
 CONSTRAINT [PK_PerformedTasks] PRIMARY KEY CLUSTERED 
(
	[IdPerformedTask] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[IdPerson] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](40) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Patronymic] [nvarchar](40) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [nvarchar](25) NULL,
	[Email] [nvarchar](70) NULL,
	[IsEmployee] [bit] NOT NULL,
	[IdAddress] [int] NULL,
	[IdSystemImage] [int] NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[IdPerson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonsPerformingTasks]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonsPerformingTasks](
	[IdPerson] [int] NOT NULL,
	[IdWorkOrder] [int] NOT NULL,
	[ParticipantType] [nvarchar](40) NULL,
 CONSTRAINT [PK_PersonsPerformingTasks] PRIMARY KEY CLUSTERED 
(
	[IdPerson] ASC,
	[IdWorkOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhotosOfProblems]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotosOfProblems](
	[IdSystemImage] [int] NOT NULL,
	[IdProblemReport] [int] NOT NULL,
 CONSTRAINT [PK_PhotosOfProblems] PRIMARY KEY CLUSTERED 
(
	[IdSystemImage] ASC,
	[IdProblemReport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemReports]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemReports](
	[IdProblemReport] [int] IDENTITY(1,1) NOT NULL,
	[NumberInspection] [nvarchar](20) NULL,
	[IdVehicle] [int] NOT NULL,
	[IdPerson] [int] NOT NULL,
	[InspectionType] [nvarchar](40) NOT NULL,
	[ProblemReportDate] [date] NOT NULL,
	[ProblemReportTime] [time](7) NULL,
	[ProblemDescription] [nvarchar](max) NOT NULL,
	[AdditionalComments] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProblemReports] PRIMARY KEY CLUSTERED 
(
	[IdProblemReport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[IdRegion] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](5) NULL,
	[RegionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[IdRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](40) NOT NULL,
	[RoleDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesOfAccounts]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesOfAccounts](
	[IdRole] [int] NOT NULL,
	[IdAccount] [int] NOT NULL,
 CONSTRAINT [PK_RolesOfAccounts] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC,
	[IdAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpareParts]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpareParts](
	[IdSparePart] [int] IDENTITY(1,1) NOT NULL,
	[SparePartName] [nvarchar](100) NOT NULL,
	[ArticleNumber] [nvarchar](20) NOT NULL,
	[ComponentType] [nvarchar](40) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_SpareParts] PRIMARY KEY CLUSTERED 
(
	[IdSparePart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemImages]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemImages](
	[IdSystemImage] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](50) NOT NULL,
	[ImageFormat] [nvarchar](10) NULL,
	[Image] [varbinary](max) NOT NULL,
	[ImageDescription] [nvarchar](max) NULL,
	[IsVideo] [bit] NOT NULL,
	[Hash] [nvarchar](max) NULL,
	[VideoPreview] [varbinary](max) NULL,
 CONSTRAINT [PK_SystemImages] PRIMARY KEY CLUSTERED 
(
	[IdSystemImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleBrands]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleBrands](
	[IdVehicleBrand] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_CarBrands] PRIMARY KEY CLUSTERED 
(
	[IdVehicleBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleCharacteristics]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleCharacteristics](
	[IdVehicleCharacteristic] [int] IDENTITY(1,1) NOT NULL,
	[CharacteristicName] [nvarchar](50) NOT NULL,
	[CharacteristicDescription] [nvarchar](max) NULL,
	[IdCharacteristicGroup] [int] NULL,
 CONSTRAINT [PK_VehicleCharacteristics] PRIMARY KEY CLUSTERED 
(
	[IdVehicleCharacteristic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleCharacteristicsGroups]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleCharacteristicsGroups](
	[IdCharacteristicGroup] [int] IDENTITY(1,1) NOT NULL,
	[CharacteristicGroupName] [nvarchar](50) NOT NULL,
	[CharacteristicGroupDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_VehicleCharacteristicsGroups] PRIMARY KEY CLUSTERED 
(
	[IdCharacteristicGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleCharacteristicsValues]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleCharacteristicsValues](
	[IdVehicleCharacteristic] [int] NOT NULL,
	[IdVehicle] [int] NOT NULL,
	[CharacteristicValue] [nvarchar](50) NOT NULL,
	[MeasurementUnit] [nvarchar](30) NULL,
 CONSTRAINT [PK_VehicleCharacteristicsValues] PRIMARY KEY CLUSTERED 
(
	[IdVehicleCharacteristic] ASC,
	[IdVehicle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleGroups]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleGroups](
	[IdVehicleGroup] [int] IDENTITY(1,1) NOT NULL,
	[VehicleGroupName] [nvarchar](50) NOT NULL,
	[VehicleGroupDescription] [nvarchar](max) NULL,
	[IsChildGroup] [bit] NOT NULL,
	[IdGroupParent] [int] NULL,
 CONSTRAINT [PK_VehicleGroups] PRIMARY KEY CLUSTERED 
(
	[IdVehicleGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleManagementRecords]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleManagementRecords](
	[IdDriver] [int] NOT NULL,
	[IdVehicle] [int] NOT NULL,
	[DateStart] [date] NOT NULL,
	[DateEnd] [date] NULL,
 CONSTRAINT [PK_VehicleManagementRecords] PRIMARY KEY CLUSTERED 
(
	[IdDriver] ASC,
	[IdVehicle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModels]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModels](
	[IdVehicleModel] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](50) NOT NULL,
	[IdVehicleBrand] [int] NOT NULL,
 CONSTRAINT [PK_VehicleModels] PRIMARY KEY CLUSTERED 
(
	[IdVehicleModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[IdVehicle] [int] IDENTITY(1,1) NOT NULL,
	[LicensePlate] [nvarchar](15) NOT NULL,
	[VIN] [nvarchar](20) NOT NULL,
	[IdVehicleType] [int] NOT NULL,
	[IdVehicleModel] [int] NOT NULL,
	[Mileage] [int] NULL,
	[ReleaseYear] [int] NULL,
	[Status] [nvarchar](30) NOT NULL,
	[FuelType] [nvarchar](30) NULL,
	[TankCapacity] [int] NULL,
	[AverageFuelConsumption] [int] NULL,
	[BodyColor] [nvarchar](30) NULL,
	[IsActual] [bit] NOT NULL,
	[IsTrailer] [bit] NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[IdVehicle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehiclesImages]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiclesImages](
	[IdSystemImage] [int] NOT NULL,
	[IdVehicle] [int] NOT NULL,
 CONSTRAINT [PK_VehiclesImages_1] PRIMARY KEY CLUSTERED 
(
	[IdSystemImage] ASC,
	[IdVehicle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehiclesTypes]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiclesTypes](
	[IdVehicleType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_VehiclesTypes] PRIMARY KEY CLUSTERED 
(
	[IdVehicleType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrders]    Script Date: 03.09.2025 14:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrders](
	[IdWorkOrder] [int] IDENTITY(1,1) NOT NULL,
	[NumberWorkOrder] [nvarchar](20) NULL,
	[IdRequest] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[MileageReading] [int] NOT NULL,
	[IdBuilding] [int] NOT NULL,
 CONSTRAINT [PK_WorkOrder] PRIMARY KEY CLUSTERED 
(
	[IdWorkOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Persons] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Persons] ([IdPerson])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Persons]
GO
ALTER TABLE [dbo].[AdditionalActionsForRequest]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalActionsForRequest_MaintenanceActions] FOREIGN KEY([IdMaintenanceAction])
REFERENCES [dbo].[MaintenanceActions] ([IdMaintenanceAction])
GO
ALTER TABLE [dbo].[AdditionalActionsForRequest] CHECK CONSTRAINT [FK_AdditionalActionsForRequest_MaintenanceActions]
GO
ALTER TABLE [dbo].[AdditionalActionsForRequest]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalActionsForRequest_MaintenanceRequests] FOREIGN KEY([IdRequest])
REFERENCES [dbo].[MaintenanceRequests] ([IdRequest])
GO
ALTER TABLE [dbo].[AdditionalActionsForRequest] CHECK CONSTRAINT [FK_AdditionalActionsForRequest_MaintenanceRequests]
GO
ALTER TABLE [dbo].[AdditionalComponentsReplacement]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalComponentsReplacement_SpareParts] FOREIGN KEY([IdSparePart])
REFERENCES [dbo].[SpareParts] ([IdSparePart])
GO
ALTER TABLE [dbo].[AdditionalComponentsReplacement] CHECK CONSTRAINT [FK_AdditionalComponentsReplacement_SpareParts]
GO
ALTER TABLE [dbo].[AdditionalComponentsReplacement]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalComponentsReplacement_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[AdditionalComponentsReplacement] CHECK CONSTRAINT [FK_AdditionalComponentsReplacement_Vehicles]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Regions] FOREIGN KEY([IdRegion])
REFERENCES [dbo].[Regions] ([IdRegion])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Regions]
GO
ALTER TABLE [dbo].[AttachedProblemReports]  WITH CHECK ADD  CONSTRAINT [FK_AttachedProblemReports_MaintenanceRequest] FOREIGN KEY([IdRequest])
REFERENCES [dbo].[MaintenanceRequests] ([IdRequest])
GO
ALTER TABLE [dbo].[AttachedProblemReports] CHECK CONSTRAINT [FK_AttachedProblemReports_MaintenanceRequest]
GO
ALTER TABLE [dbo].[AttachedProblemReports]  WITH CHECK ADD  CONSTRAINT [FK_AttachedProblemReports_ProblemReports] FOREIGN KEY([IdProblemReport])
REFERENCES [dbo].[ProblemReports] ([IdProblemReport])
GO
ALTER TABLE [dbo].[AttachedProblemReports] CHECK CONSTRAINT [FK_AttachedProblemReports_ProblemReports]
GO
ALTER TABLE [dbo].[Buildings]  WITH CHECK ADD  CONSTRAINT [FK_Buildings_Addresses] FOREIGN KEY([IdAddress])
REFERENCES [dbo].[Addresses] ([IdAddress])
GO
ALTER TABLE [dbo].[Buildings] CHECK CONSTRAINT [FK_Buildings_Addresses]
GO
ALTER TABLE [dbo].[Buildings]  WITH CHECK ADD  CONSTRAINT [FK_Buildings_CounterpartyCompanies] FOREIGN KEY([IdCounterparty])
REFERENCES [dbo].[CounterpartyCompanies] ([IdCounterparty])
GO
ALTER TABLE [dbo].[Buildings] CHECK CONSTRAINT [FK_Buildings_CounterpartyCompanies]
GO
ALTER TABLE [dbo].[CounterpartiesContracts]  WITH CHECK ADD  CONSTRAINT [FK_ServiceContracts_ExternalServiceProviders] FOREIGN KEY([IdCounterparty])
REFERENCES [dbo].[CounterpartyCompanies] ([IdCounterparty])
GO
ALTER TABLE [dbo].[CounterpartiesContracts] CHECK CONSTRAINT [FK_ServiceContracts_ExternalServiceProviders]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Persons] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Persons] ([IdPerson])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_Persons]
GO
ALTER TABLE [dbo].[FuelTransactions]  WITH CHECK ADD  CONSTRAINT [FK_FuelTransactions_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[FuelTransactions] CHECK CONSTRAINT [FK_FuelTransactions_Vehicles]
GO
ALTER TABLE [dbo].[GroupsForVehicles]  WITH CHECK ADD  CONSTRAINT [FK_Groups ForVehicles_VehicleGroups] FOREIGN KEY([IdVehicleGroup])
REFERENCES [dbo].[VehicleGroups] ([IdVehicleGroup])
GO
ALTER TABLE [dbo].[GroupsForVehicles] CHECK CONSTRAINT [FK_Groups ForVehicles_VehicleGroups]
GO
ALTER TABLE [dbo].[GroupsForVehicles]  WITH CHECK ADD  CONSTRAINT [FK_Groups ForVehicles_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[GroupsForVehicles] CHECK CONSTRAINT [FK_Groups ForVehicles_Vehicles]
GO
ALTER TABLE [dbo].[MaintenanceActionsOfSchedules]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceActionsOfSchedules_MaintenanceActions] FOREIGN KEY([IdMaintenanceAction])
REFERENCES [dbo].[MaintenanceActions] ([IdMaintenanceAction])
GO
ALTER TABLE [dbo].[MaintenanceActionsOfSchedules] CHECK CONSTRAINT [FK_MaintenanceActionsOfSchedules_MaintenanceActions]
GO
ALTER TABLE [dbo].[MaintenanceActionsOfSchedules]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceActionsOfSchedules_MaintenanceSchedule] FOREIGN KEY([IdMaintenanceSchedule])
REFERENCES [dbo].[MaintenanceSchedules] ([IdMaintenanceSchedule])
GO
ALTER TABLE [dbo].[MaintenanceActionsOfSchedules] CHECK CONSTRAINT [FK_MaintenanceActionsOfSchedules_MaintenanceSchedule]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequest_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequest_Vehicles]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_Buildings] FOREIGN KEY([IdBuilding])
REFERENCES [dbo].[Buildings] ([IdBuilding])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_Buildings]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_MaintenanceSchedules] FOREIGN KEY([IdMaintenanceSchedule])
REFERENCES [dbo].[MaintenanceSchedules] ([IdMaintenanceSchedule])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_MaintenanceSchedules]
GO
ALTER TABLE [dbo].[MaintenanceSchedules]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceSchedule_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[MaintenanceSchedules] CHECK CONSTRAINT [FK_MaintenanceSchedule_Vehicles]
GO
ALTER TABLE [dbo].[PartsUsedInTasks]  WITH CHECK ADD  CONSTRAINT [FK_PartsUsedInTasks_PartsUsedInWorkOrders] FOREIGN KEY([IdUsedPartInWorkOrder])
REFERENCES [dbo].[PartsUsedInWorkOrders] ([IdUsedPartInWorkOrder])
GO
ALTER TABLE [dbo].[PartsUsedInTasks] CHECK CONSTRAINT [FK_PartsUsedInTasks_PartsUsedInWorkOrders]
GO
ALTER TABLE [dbo].[PartsUsedInTasks]  WITH CHECK ADD  CONSTRAINT [FK_PartsUsedInTasks_PerformedTasks] FOREIGN KEY([IdPerformedTask])
REFERENCES [dbo].[PerformedTasks] ([IdPerformedTask])
GO
ALTER TABLE [dbo].[PartsUsedInTasks] CHECK CONSTRAINT [FK_PartsUsedInTasks_PerformedTasks]
GO
ALTER TABLE [dbo].[PartsUsedInWorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_PartsUsedInWorkOrders_SpareParts] FOREIGN KEY([IdSparePart])
REFERENCES [dbo].[SpareParts] ([IdSparePart])
GO
ALTER TABLE [dbo].[PartsUsedInWorkOrders] CHECK CONSTRAINT [FK_PartsUsedInWorkOrders_SpareParts]
GO
ALTER TABLE [dbo].[PartsUsedInWorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_PartsUsedInWorkOrders_WorkOrders] FOREIGN KEY([IdWorkOrder])
REFERENCES [dbo].[WorkOrders] ([IdWorkOrder])
GO
ALTER TABLE [dbo].[PartsUsedInWorkOrders] CHECK CONSTRAINT [FK_PartsUsedInWorkOrders_WorkOrders]
GO
ALTER TABLE [dbo].[PerformedTasks]  WITH CHECK ADD  CONSTRAINT [FK_PerformedTasks_MaintenanceActions] FOREIGN KEY([IdMaintenanceAction])
REFERENCES [dbo].[MaintenanceActions] ([IdMaintenanceAction])
GO
ALTER TABLE [dbo].[PerformedTasks] CHECK CONSTRAINT [FK_PerformedTasks_MaintenanceActions]
GO
ALTER TABLE [dbo].[PerformedTasks]  WITH CHECK ADD  CONSTRAINT [FK_PerformedTasks_WorkOrders] FOREIGN KEY([IdWorkOrder])
REFERENCES [dbo].[WorkOrders] ([IdWorkOrder])
GO
ALTER TABLE [dbo].[PerformedTasks] CHECK CONSTRAINT [FK_PerformedTasks_WorkOrders]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Addresses] FOREIGN KEY([IdAddress])
REFERENCES [dbo].[Addresses] ([IdAddress])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Addresses]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_SystemImages] FOREIGN KEY([IdSystemImage])
REFERENCES [dbo].[SystemImages] ([IdSystemImage])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_SystemImages]
GO
ALTER TABLE [dbo].[PersonsPerformingTasks]  WITH CHECK ADD  CONSTRAINT [FK_PersonsPerformingTasks_Persons] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Persons] ([IdPerson])
GO
ALTER TABLE [dbo].[PersonsPerformingTasks] CHECK CONSTRAINT [FK_PersonsPerformingTasks_Persons]
GO
ALTER TABLE [dbo].[PersonsPerformingTasks]  WITH CHECK ADD  CONSTRAINT [FK_PersonsPerformingTasks_WorkOrders] FOREIGN KEY([IdWorkOrder])
REFERENCES [dbo].[WorkOrders] ([IdWorkOrder])
GO
ALTER TABLE [dbo].[PersonsPerformingTasks] CHECK CONSTRAINT [FK_PersonsPerformingTasks_WorkOrders]
GO
ALTER TABLE [dbo].[PhotosOfProblems]  WITH CHECK ADD  CONSTRAINT [FK_PhotosOfProblems_ProblemReports] FOREIGN KEY([IdProblemReport])
REFERENCES [dbo].[ProblemReports] ([IdProblemReport])
GO
ALTER TABLE [dbo].[PhotosOfProblems] CHECK CONSTRAINT [FK_PhotosOfProblems_ProblemReports]
GO
ALTER TABLE [dbo].[PhotosOfProblems]  WITH CHECK ADD  CONSTRAINT [FK_PhotosOfProblems_SystemImages] FOREIGN KEY([IdSystemImage])
REFERENCES [dbo].[SystemImages] ([IdSystemImage])
GO
ALTER TABLE [dbo].[PhotosOfProblems] CHECK CONSTRAINT [FK_PhotosOfProblems_SystemImages]
GO
ALTER TABLE [dbo].[ProblemReports]  WITH CHECK ADD  CONSTRAINT [FK_ProblemReports_Persons] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Persons] ([IdPerson])
GO
ALTER TABLE [dbo].[ProblemReports] CHECK CONSTRAINT [FK_ProblemReports_Persons]
GO
ALTER TABLE [dbo].[ProblemReports]  WITH CHECK ADD  CONSTRAINT [FK_ProblemReports_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[ProblemReports] CHECK CONSTRAINT [FK_ProblemReports_Vehicles]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [FK_Regions_Countries] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Countries] ([CountryCode])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [FK_Regions_Countries]
GO
ALTER TABLE [dbo].[RolesOfAccounts]  WITH CHECK ADD  CONSTRAINT [FK_RolesOfAccounts_Accounts] FOREIGN KEY([IdAccount])
REFERENCES [dbo].[Accounts] ([IdAccount])
GO
ALTER TABLE [dbo].[RolesOfAccounts] CHECK CONSTRAINT [FK_RolesOfAccounts_Accounts]
GO
ALTER TABLE [dbo].[RolesOfAccounts]  WITH CHECK ADD  CONSTRAINT [FK_RolesOfAccounts_Roles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
GO
ALTER TABLE [dbo].[RolesOfAccounts] CHECK CONSTRAINT [FK_RolesOfAccounts_Roles]
GO
ALTER TABLE [dbo].[VehicleCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_VehicleCharacteristics_VehicleCharacteristicsGroups] FOREIGN KEY([IdCharacteristicGroup])
REFERENCES [dbo].[VehicleCharacteristicsGroups] ([IdCharacteristicGroup])
GO
ALTER TABLE [dbo].[VehicleCharacteristics] CHECK CONSTRAINT [FK_VehicleCharacteristics_VehicleCharacteristicsGroups]
GO
ALTER TABLE [dbo].[VehicleCharacteristicsValues]  WITH CHECK ADD  CONSTRAINT [FK_VehicleCharacteristicsValues_VehicleCharacteristics] FOREIGN KEY([IdVehicleCharacteristic])
REFERENCES [dbo].[VehicleCharacteristics] ([IdVehicleCharacteristic])
GO
ALTER TABLE [dbo].[VehicleCharacteristicsValues] CHECK CONSTRAINT [FK_VehicleCharacteristicsValues_VehicleCharacteristics]
GO
ALTER TABLE [dbo].[VehicleCharacteristicsValues]  WITH CHECK ADD  CONSTRAINT [FK_VehicleCharacteristicsValues_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[VehicleCharacteristicsValues] CHECK CONSTRAINT [FK_VehicleCharacteristicsValues_Vehicles]
GO
ALTER TABLE [dbo].[VehicleGroups]  WITH CHECK ADD  CONSTRAINT [FK_VehicleGroups_VehicleGroups] FOREIGN KEY([IdGroupParent])
REFERENCES [dbo].[VehicleGroups] ([IdVehicleGroup])
GO
ALTER TABLE [dbo].[VehicleGroups] CHECK CONSTRAINT [FK_VehicleGroups_VehicleGroups]
GO
ALTER TABLE [dbo].[VehicleManagementRecords]  WITH CHECK ADD  CONSTRAINT [FK_VehicleManagementRecords_Drivers] FOREIGN KEY([IdDriver])
REFERENCES [dbo].[Drivers] ([IdDriver])
GO
ALTER TABLE [dbo].[VehicleManagementRecords] CHECK CONSTRAINT [FK_VehicleManagementRecords_Drivers]
GO
ALTER TABLE [dbo].[VehicleManagementRecords]  WITH CHECK ADD  CONSTRAINT [FK_VehicleManagementRecords_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[VehicleManagementRecords] CHECK CONSTRAINT [FK_VehicleManagementRecords_Vehicles]
GO
ALTER TABLE [dbo].[VehicleModels]  WITH CHECK ADD  CONSTRAINT [FK_VehicleModels_VehicleBrands] FOREIGN KEY([IdVehicleBrand])
REFERENCES [dbo].[VehicleBrands] ([IdVehicleBrand])
GO
ALTER TABLE [dbo].[VehicleModels] CHECK CONSTRAINT [FK_VehicleModels_VehicleBrands]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_VehicleModels] FOREIGN KEY([IdVehicleModel])
REFERENCES [dbo].[VehicleModels] ([IdVehicleModel])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_VehicleModels]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_VehiclesTypes] FOREIGN KEY([IdVehicleType])
REFERENCES [dbo].[VehiclesTypes] ([IdVehicleType])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_VehiclesTypes]
GO
ALTER TABLE [dbo].[VehiclesImages]  WITH CHECK ADD  CONSTRAINT [FK_VehiclesImages_SystemImages] FOREIGN KEY([IdSystemImage])
REFERENCES [dbo].[SystemImages] ([IdSystemImage])
GO
ALTER TABLE [dbo].[VehiclesImages] CHECK CONSTRAINT [FK_VehiclesImages_SystemImages]
GO
ALTER TABLE [dbo].[VehiclesImages]  WITH CHECK ADD  CONSTRAINT [FK_VehiclesImages_Vehicles] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicles] ([IdVehicle])
GO
ALTER TABLE [dbo].[VehiclesImages] CHECK CONSTRAINT [FK_VehiclesImages_Vehicles]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WorkOrder_Buildings] FOREIGN KEY([IdBuilding])
REFERENCES [dbo].[Buildings] ([IdBuilding])
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WorkOrder_Buildings]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WorkOrder_MaintenanceRequest] FOREIGN KEY([IdRequest])
REFERENCES [dbo].[MaintenanceRequests] ([IdRequest])
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WorkOrder_MaintenanceRequest]
GO
USE [master]
GO
